{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "func-names": 0,
    "no-unused-vars": 0,
    "linebreak-style": 0,
    "no-param-reassign": 0,
    "prefer-destructuring": 0,
    "consistent-return": 0,
    "quotes": ["error", "single"],
    "no-plusplus": "off"
  },
  "env": {
    "browser": true,
    "jquery": true,
    "amd": true
  },
  "globals": {
    "Vue": "readable",
    "Vuex": "readable"
  },
  "parser": "babel-eslint"
}
