@import '../../settings';

.button {
  @include padding(14px 31px);
  font-family: $font-museo-sans-700;

  &.big {
    font-size: 20px;
    line-height: 38px;
    border-radius: 8px;
    @include padding(22px 60px);

    @include MQ(S) {
      font-size: 16px;
      @include padding(22px 30px);
    }
  }

  &.tiny {
    @include padding(6px 14px);
  }

  &.small {
    @include padding(10px 24px);
  }

  &.large {
    @include padding(18px 34px);

  }

  &.shadow {
    box-shadow: 0px 10px 15px 1.12px rgba(0, 0, 0, 0.3);
  }

  &.outline {
    background-color: transparent;
    color: $white;
    border: 1px solid $white;
  }
}
