@import 'mixins/gradient';

.box-wrapper {
  display: flex;

  .left {
    width: 50%;
    height: 100%;

    .box {
      height: 585px;
    }
  }

  .rigth {
    width: 50%;
    height: 100%;
    display: flex;

    .box {
      flex: 1;
    }
  }
}

.box {
  width: 100%;

  .card {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);

    .image {
      border-radius: 4px;
      overflow: hidden;

      img {
        width: 100%;
        // height: 20vw;
        // max-height: 230px;
        // box-sizing: border-box;
        // padding: 20% 30%;

        // &.b-lazy {

        &.b-loaded {
          height: auto;
        }
        // }
        // max-height: 587px;
        // height: 100%;
        // object-fit: cover;
        // object-position: center;
      }

      &:after {
        content: '';
        position: absolute;
        @include linear-gradient(0deg, rgba($black, 0.75), rgba($black, 0));
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70%;
      }
    }

    .card-content {
      border-radius: 3px;

      &-inside {
        .bottom {
          margin-left: 105px;

          svg {
            width: 80px;
            height: 80px;
            margin-right: 20px;
          }

          .play-animation {
            max-width: 110px;
            margin-left: -30px;

            + span {
              color: $primary-color-300;
            }

            img {
              margin-left: 10px;
            }
          }
        }
      }
    }

    ul.tags {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      li {
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 13px;
        font-family: $font-museo-sans-700;
        padding: 2px 8px 0;
        margin-bottom: 10px;

        &.primary {
          background-color: $white;
          color: $primary-color-100;
        }

        &.outline {
          border: 1px solid $white;
        }
      }
    }

    &:hover {
      .card-content {
        opacity: 1;
        transition-delay: 200ms;

        &-inside {
          .bottom {
            transform: translateY(0);
            transition-delay: 200ms;
          }

          .top-animation {
            transform: translateY(0);
            transition-delay: 200ms;
          }
        }
      }

      .content {
        transform: translateY(100%);
        opacity: 0;
      }
    }
  }
}

.wrapper-items {
  .top {
    font-family: $font-museo-sans-500;
    font-size: 16px;
    line-height: 16px;
    color: $white;
    opacity: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;

    @include MQ(M) {
      margin-bottom: 5px;
    }
  }

  .title {
    font-family: $font-museo-sans-300;
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;

    @include MQ(XS) {
      -webkit-line-clamp: 2;
    }
  }

  .season {
    .description {
      font-size: 13px;
      line-height: 18px;
      color: $white;
    }
  }

  .box .card {
    .card-content-inside {
      height: 100%;

      > .description {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
      }

      .top-animation {
        justify-content: space-between;
        align-items: center;

        .inner-content {
          align-items: center;
          display: flex;
        }

        .play-animation {
          max-width: 72px;
          margin-right: 10px;
        }

        a {
          > span + span,
          > img + span {
            display: none;
          }

          img {
            max-width: 30px;
            max-height: 30px;
            margin-right: 25px;
            margin-top: -5px;
          }
        }
      }

      .bottom {
        margin-left: 0;
        margin-top: 0;

        .description {
          width: 100%;
          height: auto;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          margin-bottom: 0;
          text-align: left;
        }
      }
    }

    .tags {
      li {
        font-size: 8px;
        padding-bottom: 2px;
        margin-right: 0;
        margin-bottom: 5px;
      }
    }

    a {
      color: $white;
      cursor: pointer;
    }
  }

  // }
}
