/**
iconfont Webfont
*/
@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot?1598889056958');
  src: url('../fonts/iconfont.eot?1598889056958#iefix') format('eot'),
    url('../fonts/iconfont.woff2?1598889056958') format('woff2'),
    url('../fonts/iconfont.woff?1598889056958') format('woff'),
    url('../fonts/iconfont.ttf?1598889056958') format('truetype'),
    url('../fonts/iconfont.svg?1598889056958#iconfont') format('svg');
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'iconfont';
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  font-size: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/

$icon-arrow-back-browser: "ea01" !default;

$icon-arrow-down: "ea02" !default;

$icon-arrow-left: "ea03" !default;

$icon-arrow-right: "ea04" !default;

$icon-arrow-up: "ea05" !default;

$icon-back-10-min: "ea06" !default;

$icon-back-episode: "ea07" !default;

$icon-cicle-check: "ea08" !default;

$icon-circle: "ea09" !default;

$icon-close: "ea0a" !default;

$icon-comedy: "ea0b" !default;

$icon-configuration: "ea0c" !default;

$icon-cross: "ea0d" !default;

$icon-devices: "ea0e" !default;

$icon-discover-more: "ea0f" !default;

$icon-doc-life: "ea10" !default;

$icon-drama: "ea11" !default;

$icon-edit: "ea12" !default;

$icon-error-circle: "ea13" !default;

$icon-explore-mb: "ea14" !default;

$icon-fullscreen: "ea15" !default;

$icon-help: "ea16" !default;

$icon-home-mb: "ea17" !default;

$icon-more: "ea18" !default;

$icon-mute: "ea19" !default;

$icon-mystery: "ea1a" !default;

$icon-new-britbox: "ea1b" !default;

$icon-next-10-min: "ea1c" !default;

$icon-next-episode: "ea1d" !default;

$icon-normal-screen: "ea1e" !default;

$icon-pause: "ea1f" !default;

$icon-play-now: "ea20" !default;

$icon-profile: "ea21" !default;

$icon-search: "ea22" !default;

$icon-sound-medium: "ea23" !default;

$icon-sound: "ea24" !default;

$icon-tick: "ea25" !default;

$icon-wishlist: "ea26" !default;



.icon-arrow-back-browser:before {
  content: '\ea01';
}


.icon-arrow-down:before {
  content: '\ea02';
}


.icon-arrow-left:before {
  content: '\ea03';
}


.icon-arrow-right:before {
  content: '\ea04';
}


.icon-arrow-up:before {
  content: '\ea05';
}


.icon-back-10-min:before {
  content: '\ea06';
}


.icon-back-episode:before {
  content: '\ea07';
}


.icon-cicle-check:before {
  content: '\ea08';
}


.icon-circle:before {
  content: '\ea09';
}


.icon-close:before {
  content: '\ea0a';
}


.icon-comedy:before {
  content: '\ea0b';
}


.icon-configuration:before {
  content: '\ea0c';
}


.icon-cross:before {
  content: '\ea0d';
}


.icon-devices:before {
  content: '\ea0e';
}


.icon-discover-more:before {
  content: '\ea0f';
}


.icon-doc-life:before {
  content: '\ea10';
}


.icon-drama:before {
  content: '\ea11';
}


.icon-edit:before {
  content: '\ea12';
}


.icon-error-circle:before {
  content: '\ea13';
}


.icon-explore-mb:before {
  content: '\ea14';
}


.icon-fullscreen:before {
  content: '\ea15';
}


.icon-help:before {
  content: '\ea16';
}


.icon-home-mb:before {
  content: '\ea17';
}


.icon-more:before {
  content: '\ea18';
}


.icon-mute:before {
  content: '\ea19';
}


.icon-mystery:before {
  content: '\ea1a';
}


.icon-new-britbox:before {
  content: '\ea1b';
}


.icon-next-10-min:before {
  content: '\ea1c';
}


.icon-next-episode:before {
  content: '\ea1d';
}


.icon-normal-screen:before {
  content: '\ea1e';
}


.icon-pause:before {
  content: '\ea1f';
}


.icon-play-now:before {
  content: '\ea20';
}


.icon-profile:before {
  content: '\ea21';
}


.icon-search:before {
  content: '\ea22';
}


.icon-sound-medium:before {
  content: '\ea23';
}


.icon-sound:before {
  content: '\ea24';
}


.icon-tick:before {
  content: '\ea25';
}


.icon-wishlist:before {
  content: '\ea26';
}

