@import '../../settings';
.bar {
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba($white, 0.08);
  position: relative;
  transition: all 0.2s;
  .color-bar {
    @include size(0, rem-calc(6));
    background-color: $primary-color-300;
    transition: width 300ms ease, visibility 300ms linear;
  }
}
