@import './noUi-slider';
.player-fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .animation.load-more {
    transition: all 300ms ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black;
    z-index: 3;
    display: flex;
    justify-content: center;

    &.out {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.custom-player {
  .bitmovinplayer-container {
    position: absolute;
    background-color: $black;
    /* FIXES FOR IE 11 */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      top: 0;
      left: 0;
    }

    @include MQ(XM) {
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        display: none;
      }
    }

    &[data-fullscreen='false'] video {
      max-height: 720px;
      margin: auto;
    }

    @include MQ(S) {
      .bmpui-ui-subtitle-overlay.bmpui-controlbar-visible {
        bottom: 10em !important;
      }
    }

    .bmpui-ui-subtitle-overlay.bmpui-fontsize-50 .bmpui-ui-subtitle-label {
      font-size: 0.5em;

      div p {
        font-size: 0.5em;
      }
    }

    .bmpui-ui-subtitle-overlay.bmpui-fontsize-75 .bmpui-ui-subtitle-label {
      font-size: 0.75em;

      div p {
        font-size: 0.75em;
      }
    }

    .bmpui-ui-subtitle-overlay.bmpui-fontsize-100 .bmpui-ui-subtitle-label {
      font-size: 1em;

      div p {
        font-size: 1em;
      }
    }

    .bmpui-ui-subtitle-overlay.bmpui-fontsize-150 .bmpui-ui-subtitle-label {
      font-size: 1.5em;

      div p {
        font-size: 1.5em;
      }
    }

    .bmpui-ui-subtitle-overlay.bmpui-fontsize-200 .bmpui-ui-subtitle-label {
      font-size: 2em;

      div p {
        font-size: 2em;
      }
    }

    .bmpui-ui-subtitle-overlay.desactivated .bmpui-ui-subtitle-label {
      display: none;
    }

    .bmpui-ui-controlbar {
      height: 150px;
      // &.bmpui-hidden {
      //   transition-delay: 10000ms;
      //   .custom-buttons {
      //     transition-delay: 10000ms;
      //   }
      // }
      // &:hover {
      //   transition-duration: unset !important;
      //   .custom-buttons {
      //     transition-duration: unset !important;
      //   }
      // }
      @include MQ(XM) {
        height: 100%;
        width: 100%;

        .bmpui-container-wrapper {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &.fixed {
    .player-fullscreen {
      display: flex;

      #my-player {
        max-width: 900px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  .bitmovinplayer-container {
    text-align: center;

    .bmpui-controlbar-top {
      bottom: 30px;
      width: calc(100% - 2em);
      position: absolute;
      z-index: 1;

      // @include MQ(XM) {
      //   z-index: 2;
      // }
    }
    /*div.bmpui-subtitle-position-bottom > div {
      position: absolute;
      bottom: 0;
      width: 100%;
    }*/
    /*div.bmpui-subtitle-position-top > div {
      position: absolute;
      top: 20px;
      width: 100%;
    }*/

    [class*='bmpui-subtitle-position-bottom'] > div {
      bottom: 0;
      position: absolute;
      width: 100%;
    }

    .bmpui-ui-subtitle-label {
      width: fit-content;
      display: inline-block;
    }

    #play-pause {
      // display: none;
      cursor: pointer;
      outline: none;
      transition: all 300ms ease-in-out;
      position: absolute;
      // transform: translateX(-50%);
      height: 100px;
      width: 100px;
      left: 50%;
      // bottom: 5px;
      margin-left: -50px;
      z-index: 1;
      background-size: 56px;
      background-position: center;
      background-repeat: no-repeat;

      @include MQ(S) {
        bottom: auto;
      }

      // @media only screen and (min-width: 768px) and (orientation: landscape) {
      //   display: none;
      // }

      span {
        opacity: 0;
      }

      &.off {
        background-image: url('../icons/pause.svg');
        filter: none;

        span {
          opacity: 1;
        }
      }
    }

    .bmpui-player-state-paused #play-pause {
      background-image: url('../icons/play-now.svg');
    }

    .bmpui-ui-playbacktogglebutton {
      display: none;
      background-image: url('../icons/play-now.svg');
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      height: 50px;
      width: 50px;
      padding: 0;
      background-size: cover;
      outline: 0;
      bottom: 30px;
      z-index: 1;

      @include MQ(XM) {
        // bottom: calc(50% - 25px);
        bottom: auto;
        display: none;
      }

      &.bmpui-on {
        background-image: url('../icons/pause.svg');
      }

      &:focus {
        box-shadow: none;
      }
    }

    .bmpui-ui-playbacktoggle-overlay {
      .bmpui-ui-hugeplaybacktogglebutton {
        z-index: 1;
        padding: 0;

        .bmpui-image {
          animation: none;
          // transition: none;
          transition: opacity 0.3s;
          visibility: inherit;
          background-image: url('../img/video-play.png');
          background-size: 50px;

          @include MQ(XML) {
            background-position: center bottom 33px;
          }
        }
        &.bmpui-on .bmpui-image {
          background-image: url('../img/video-pause.png');
        }
      }
    }

    .bmpui-ui-uicontainer.bmpui-controls-hidden
      .bmpui-ui-playbacktoggle-overlay
      .bmpui-ui-hugeplaybacktogglebutton
      .bmpui-image {
      opacity: 0;
    }

    .bmpui-ui-volumetogglebutton {
      margin-left: auto;
      padding: 0;
      height: 29px;
      width: 29px;
      background-size: cover;
      background-image: url('../icons/sound.svg');
      margin-right: 23px;
      outline: 0;

      &.bmpui-muted {
        background-image: url('../icons/mute.svg');
      }

      &:focus {
        box-shadow: none;
      }
    }

    .bmpui-ui-settingstogglebutton {
      height: 30px;
      width: 30px;
      padding: 0;
      outline: 0;
      background-size: cover;
      background-image: url('../icons/configuration.svg');
      margin-right: 33px;
      margin-left: auto;
      position: absolute;
      bottom: 33px;
      right: 55px;
      z-index: 1;
      display: none;

      &:focus {
        box-shadow: none;
      }
    }

    .bmpui-ui-casttogglebutton {
      height: 30px;
      width: 30px;
      padding: 0;
      outline: 0;
      background-size: cover;
      /*background-image: url('../icons/devices.svg'); */
      margin-right: 33px;
      margin-left: auto;
      position: absolute;
      bottom: 33px;
      right: 170px;
      z-index: 1;

      &:focus {
        box-shadow: none;
      }
    }

    .bmpui-ui-fullscreentogglebutton {
      outline: 0;
      height: 30px;
      width: 30px;
      padding: 0;
      background-size: 25px;
      background-image: url('../icons/fullscreen.svg');
      position: fixed;
      bottom: 43px;
      right: 25px;
      z-index: 2;

      // @media only screen and (max-width: 599px) {
      //   bottom: 65px;
      // }

      &.bmpui-on {
        background-image: url('../icons/normal-screen.svg');
      }

      &:focus {
        box-shadow: none;
      }
    }

    .bmpui-ui-uicontainer.bmpui-controls-shown .bmpui-ui-hugeplaybacktogglebutton:focus {
      box-shadow: none;
    }

    .bmpui-ui-piptogglebutton {
      display: none !important;
    }

    /* .bmpui-ui-uicontainer.bmpui-controls-shown.bmpui-layout-max-width-800 .custom-buttons #play-pause {
      display: none;
    } */

    .bmpui-ui-spacer {
      display: none;
    }
    /*bmpui-ui-controlbar .bmpui-hidden {
      .close-modal{
          display:none;
      }
    }*/
    .bmpui-ui-controlbar {
      padding-bottom: 22px;

      @include MQ(XM) {
        height: 100%;
      }

      .bmpui-controlbar-bottom {
        & > .bmpui-container-wrapper {
          justify-content: center;
          align-items: center;
        }

        @include MQ(XM) {
          width: 100%;
          height: 100%;
        }
      }

      &:after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 100%;
        height: 300px;
        // @include linear-gradient(0deg, $primary-color-100, rgba($primary-color-100, 0));
      }

      // @include MQ(XM) {
      //   .custom-buttons {
      //     position: absolute;
      //     height: 100%;
      //     top: 0;
      //     left: 0;
      //     width: 100%;
      //     display: flex;
      //     align-items: center;
      //     // top: calc(50vh + 50px);
      //     .volume {
      //       // right: -5px;
      //       // bottom: 40px;
      //       // display: none;
      //       // bottom: -50px;
      //       bottom: 42px;
      //     }

      //     .subtitles-button {
      //       bottom: 42px;
      //     }
      //   }
      // }
    }

    .bmpui-ui-seekbar {
      transition: all 300ms ease-in-out;

      &:focus {
        box-shadow: none;
      }

      .bmpui-seekbar {
        .bmpui-seekbar-playbackposition-marker {
          display: none;
        }

        .bmpui-seekbar-markers {
          height: 8px;
          // transition: all 150ms ease-in-out;
        }

        .bmpui-seekbar-seekposition {
          height: 8px;
        }

        .bmpui-seekbar-backdrop {
          height: 8px;
          transition: all 150ms ease-in-out;
          background-color: rgba(255, 255, 255, 0.1);
        }

        .bmpui-seekbar-bufferlevel {
          height: 8px;
          transition: all 150ms ease-in-out;
        }

        .bmpui-seekbar-playbackposition {
          height: 8px;
          transition: all 150ms ease-in-out;
          background-color: #04c3fc;
        }
      }

      &:hover {
        .bmpui-seekbar {
          .bmpui-seekbar-markers {
            // height: 10px;
          }

          .bmpui-seekbar-seekposition {
            // height: 10px;
          }

          .bmpui-seekbar-backdrop {
            // height: 10px;
            background-color: rgba(255, 255, 255, 0.1);
          }

          .bmpui-seekbar-bufferlevel {
            // height: 10px;
          }

          .bmpui-seekbar-playbackposition {
            // height: 10px;
            background-color: #04c3fc;
          }
        }
      }
    }

    .bmpui-ui-controlbar
      .bmpui-controlbar-bottom
      > .bmpui-container-wrapper
      .bmpui-ui-volumeslider {
      background-color: #0d141e;
      box-shadow: 0px 10px 15px 1.12px rgba(0, 0, 0, 0.3);
      padding: 25px 0;
      width: 220px;
      border-radius: 5px;
    }

    .bmpui-ui-volumetogglebutton,
    .bmpui-ui-volumeslider {
      display: none;
    }

    @supports (-webkit-touch-callout: none) {
      .bmpui-ui-volumetogglebutton {
        display: block;
        position: fixed;
        right: 125px;
        bottom: 41px;
        z-index: 3;
      }
    }

    .bmpui-ui-volumetogglebutton ~ .bmpui-ui-settingstogglebutton {
      // display: none;
    }

    .bmpui-ui-titlebar {
      // top: auto;
      // bottom: 0;
      // width: auto;
      // padding-bottom: 23px;
      // background: transparent;
      opacity: 1;
      .bmpui-label-metadata-title {
        display: none;
      }
      // font-family: $font-museo-sans-500;

      &.bmpui-hidden {
        opacity: 0;
      }

      // @include MQ(S) {
      //   top: 22px;
      //   bottom: auto;
      //   width: 100%;
      //   opacity: 1;

      //   .bmpui-container-wrapper {
      //     .bmpui-label-metadata-title {
      //       width: 50%;
      //       font-size: 12px;
      //       line-height: 26px;
      //       overflow: hidden;
      //       display: -webkit-box;
      //       -webkit-line-clamp: 1;
      //       -webkit-box-orient: vertical;
      //     }

      //     .bmpui-label-metadata-description {
      //       display: inline-block;
      //     }

      //     .bmpui-ui-settingstogglebutton {
      //       margin-right: 10px;
      //     }
      //   }
      // }

      // @include MQ(XM) {
      //   height: 100%;

      //   .bmpui-container-wrapper {
      //     height: 100%;
      //   }
      // }

      // @media only screen and (orientation: landscape) {
      //   .bmpui-ui-fullscreentogglebutton {
      //     display: none;
      //   }

      //   .bmpui-label-metadata-title {
      //     display: block !important;
      //   }

      //   .bmpui-label-metadata-description {
      //     display: block !important;
      //   }
      // }
    }

    .bmpui-ui-container {
      &.bmpui-controlbar-top {
        margin-bottom: 77px;

        @include MQ(S) {
          margin-bottom: 60px;
        }
      }
    }

    .bmpui-ui-uicontainer {
      .bmpui-ui-playbacktoggle-overlay .bmpui-ui-hugeplaybacktogglebutton .bmpui-image {
        // display: none;
        // @include MQ(SL) {
        //   background: transparent;
        // }
      }
      &.bmpui-controls-shown {
        // opacity: 0;
        // background-color: red;

        ~ .close-modal {
          opacity: 1;
        }
      }
    }
  }

  button {
    color: white;
    // font-size: 42px;
  }

  .bmpui-ui-settings-panel {
    background-color: $primary-color-400;
    border-radius: 5px;
  }

  .bmpui-ui-seekbar-label {
    .bmpui-container-wrapper {
      border: 1px solid $secondary-color-100;
      border-radius: 5px;
      background-color: $secondary-color-100;

      .bmpui-seekbar-label-inner {
        border-bottom-color: $secondary-color-100;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;

        &:after {
          border-top-color: $secondary-color-100;
        }

        > .bmpui-container-wrapper {
          border-radius: 4px;
          overflow: hidden;

          .bmpui-seekbar-thumbnail {
            width: 235px;
          }

          .bmpui-seekbar-label-metadata {
            position: relative;
            background: $secondary-color-100;

            .bmpui-container-wrapper {
              border: 0;
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  #videoNextSeconds {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
    background-size: cover;
    outline: 0;
    bottom: 33px;
    margin-left: 10%;
    z-index: 2;

    @include MQ(XM) {
      // bottom: 58px;
      // bottom: auto;
      // margin-left: 13%;
      position: relative;
      left: auto;
      bottom: auto;
      margin-left: 50px;
      transform: none;
      margin-top: -2px;
    }

    // @include MQ(S) {
    //   margin-left: 20%;
    // }

    &:hover {
      -webkit-filter: drop-shadow(0 0 1px #fff);
      filter: drop-shadow(0 0 1px #fff);

      @include MQ(XM) {
        -webkit-filter: none;
        filter: none;
      }
    }

    i {
      font-size: 42px;
    }
  }

  #videoNext {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    padding: 0;
    background-size: cover;
    outline: 0;
    bottom: 41px;
    margin-left: 20%;
    z-index: 2;
    display: flex;
    align-items: center;

    @include MQ(XM) {
      bottom: 45px;
      margin-left: 0;
      right: 200px;
      left: auto;
      z-index: 2;
    }

    span {
      position: absolute;
      display: inline-block;
      font-size: 16px;
      white-space: nowrap;
      transition: all 300ms ease-in-out;
      overflow: hidden;
      // margin-left: 23px;
      max-width: 0;
      left: 100%;
    }

    i {
      font-size: 28px;
    }

    &:hover {
      -webkit-filter: drop-shadow(0 0 1px #fff);
      filter: drop-shadow(0 0 1px #fff);

      @include MQ(XM) {
        -webkit-filter: none;
        filter: none;
      }

      span {
        max-width: 300px;
        padding-left: 20px;

        @include MQ(L) {
          max-width: 0;
        }
      }
    }
  }

  #videoPrevSeconds {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
    background-size: cover;
    outline: 0;
    z-index: 2;
    bottom: 33px;
    margin-left: -10%;

    @include MQ(XM) {
      // bottom: 58px;
      // bottom: auto;
      // margin-left: -13%;
      position: relative;
      margin-left: 0;
      margin-right: 50px;
      bottom: auto;
      left: auto;
      transform: none;
      margin-top: -2px;
    }

    // @include MQ(S) {
    //   margin-left: -20%;
    // }

    &:hover {
      -webkit-filter: drop-shadow(0 0 1px #fff);
      filter: drop-shadow(0 0 1px #fff);

      @include MQ(XM) {
        -webkit-filter: none;
        filter: none;
      }
    }

    i {
      font-size: 42px;
    }
  }

  #videoPrev {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    padding: 0;
    background-size: cover;
    outline: 0;
    z-index: 1;
    bottom: 41px;
    margin-left: -20%;
    display: flex;
    align-items: center;

    i {
      font-size: 28px;
    }

    span {
      position: absolute;
      display: inline-block;
      font-size: 16px;
      margin-right: 25px;
      padding-left: 45px;
      padding-right: 3px;
      right: 0;
      overflow: hidden;
      max-width: 0;
      white-space: nowrap;
      transition: all 300ms ease-in-out;
    }

    &:hover {
      -webkit-filter: drop-shadow(0 0 1px #fff);
      filter: drop-shadow(0 0 1px #fff);

      span {
        max-width: 300px;
        padding-right: 20px;
      }
    }
  }

  .bmpui-ui-settings-panel {
    z-index: 1;
  }

  .volume {
    position: absolute;
    right: 125px;
    bottom: 41px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    z-index: 1;

    @supports (-webkit-touch-callout: none) {
      display: none;
    }

    @include MQ(XM) {
      z-index: 2;
    }

    .icon-volume {
      display: inline-block;
      font-size: 30px;
      outline: none;

      &:hover {
        filter: drop-shadow(0 0 1px #fff);
      }

      .icon-sound-medium {
        font-size: 28px;
      }
    }

    &:hover {
      .input {
        height: 220px;
        opacity: 1;
        padding: 25px 0;

        &:hover {
          height: 220px;
          opacity: 1;
        }
      }
    }
  }

  .subtitles-button {
    position: absolute;
    right: 90px;
    bottom: 41px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    height: 50px;

    // @include MQ(XM) {
    //   bottom: auto;
    // }

    @include MQ(XM) {
      z-index: 2;
    }

    .icon-subtitle {
      outline: none;
    }

    i.icon-configuration {
      font-size: 30px;
    }

    .content-subtitles {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: 300ms all ease-in-out;
      display: flex;
      justify-content: center;
      width: 350px;
      margin-left: -100px;
      overflow: hidden;
      background-color: #0d141e;
      box-shadow: 0px 10px 15px 1.12px rgba(0, 0, 0, 0.3);
      height: 0;
      border-radius: 5px;
      margin-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;
      bottom: 0;

      @include MQ(S) {
        margin-left: -55px;
        width: 285px;
      }

      .row {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }

      .columns {
        text-align: left;
        &:first-child {
          .title {
            margin-left: 10px;
          }
          ul.font-size {
            margin-left: 10px;
          }
        }
      }

      .title {
        font-size: 16px;
        font-family: $font-museo-sans-700;

        @include MQ(S) {
          font-size: 12px;
        }
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          font-family: $font-museo-sans-500;
          font-size: 14px;
          line-height: 22px;
          opacity: 0.5;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }

          &.minimum {
            font-size: 10px;
          }

          &.minimum-regular {
            font-size: 12px;
          }

          &.regular {
            font-size: 14px;
          }

          &.regular-big {
            font-size: 18px;
          }

          &.big {
            font-size: 20px;
          }

          span {
            min-width: 40px;
            padding-right: 10px;
            text-align: left;
            display: inline-block;
          }

          i {
            // margin-left: 10px;
            font-size: 14px;
            opacity: 0;
            transition: 300ms all ease-in-out;
          }

          &.active {
            font-family: $font-museo-sans-700;
            opacity: 1;
            display: inline-block;

            i {
              opacity: 1;
            }
          }
        }
      }
    }

    &:hover,
    &.hover {
      i.icon-configuration {
        filter: drop-shadow(0 0 1px #fff);
      }

      .content-subtitles {
        height: 210px;
        opacity: 1;
        visibility: inherit;
        padding-top: 20px;
      }
    }
  }

  .bmpui-ui-watermark {
    display: none;
  }

  .bounceInRight {
    transform: translateY(0);
  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .player-next-episode {
    position: absolute;
    right: 20px;
    bottom: 150px;
    border-radius: 5px;
    background-color: $primary-color-100;
    z-index: 1;
    padding: 25px 30px 5px;
    box-shadow: 0px 10px 15px 1.12px rgba(0, 0, 0, 0.3);
    transition: all 300ms ease-in-out;
    // transform: translateX(100%);
    &.active {
      @extend .bounceInRight;
      @extend .animated;
      right: 20px;

      @include MQ(XS) {
        right: auto;
      }
    }

    @include MQ(S) {
      right: auto;
    }

    &.out {
      right: -100%;

      @include MQ(XS) {
        right: -140%;
      }
    }

    .close-next-episode {
      outline: none;
      display: flex;

      i {
        font-size: 15px;
      }

      &:hover {
        -webkit-filter: drop-shadow(0 0 1px #fff);
        filter: drop-shadow(0 0 1px #fff);
      }
    }

    h3 {
      font-family: $font-museo-sans-700;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
    }

    .wrapper-image {
      min-width: 180px;
      height: 100px;
      margin-right: 20px;
      overflow: hidden;
      border-radius: 5px;

      @include MQ(S) {
        min-width: 140px;
      }

      .image {
        position: relative;

        &:before {
          position: absolute;
          z-index: 1;
          content: '';
          width: 100%;
          height: 100%;
          background-color: rgba($primary-color-100, 0.2);
        }

        .episode-countdown {
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          border: 2px solid $white;
          width: 45px;
          height: 45px;
          margin-top: -(44px / 2);
          margin-left: -(44px / 2);
          z-index: 1;

          .number {
            background-color: rgba($color: $white, $alpha: 0.5);
            margin: 4px;
            border-radius: 50%;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font-museo-sans-700;
          }
        }
      }
    }

    .description {
      text-align: left;

      .title {
        font-size: 14px;
        margin-top: -12px;
      }

      .description {
        opacity: 0.5;
        color: $white;
        font-size: 12px;
        margin-bottom: 10px;
        max-width: 210px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        /* FIXES FOR IE 11 */
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          max-height: calc(1.12em * 4);
        }

        @include MQ(S) {
          max-width: 100px;
        }
      }

      .actions {
        margin: 0;

        .play-animation {
          display: inline-block;
          width: 80px;
          height: 80px;
          margin-top: -10px;
          margin-left: -20px;
        }

        a {
          display: flex;
          align-items: center;
          color: $primary-color-300;
          font-size: 14px;
          font-family: $font-museo-sans-700;

          span {
            margin-top: -10px;
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .custom-buttons {
    opacity: 0;
    transition: all 300ms ease-in-out;

    @include MQ(XM) {
      // width: 200px;
      // display: flex;
      // justify-content: space-between;
      // margin: auto;
    }
  }

  // .bmpui-controlbar-visible ~ .bmpui-ui-controlbar .custom-buttons {
  //   opacity: 1;
  // }

  // .bmpui-ui-titlebar.bmpui-hidden {
  //   opacity: 0;
  // }

  // .bmpui-ui-uicontainer.bmpui-hidden.bmpui-controls-shown {
  //   display: block;
  // }

  .episode-description {
    transition: all 300ms ease-in-out;
    position: absolute;
    bottom: 34px;
    padding: 0px 25px;
    text-align: left;

    .description {
      font-family: $font-museo-sans-300;
    }
  }

  .bmpui-ui-uicontainer {
    + .bmpui-ui-uicontainer {
      display: none;
    }
    &.bmpui-controls-hidden ~ #custom-controls {
      .custom-buttons,
      .close-modal,
      #videoNext,
      .episode-description {
        opacity: 0;
      }
    }
    &.bmpui-controls-shown ~ #custom-controls {
      .custom-buttons,
      .close-modal,
      #videoNext {
        opacity: 1;
      }

      .episode-description {
        opacity: 0.5;

        @include MQ(XM) {
          opacity: 1;
          bottom: auto;
          top: 30px;
          left: 0;
        }
      }
    }
  }

  &.app {
    .player-fullscreen .animation.load-more {
      z-index: 4;
    }

    .close-modal {
      top: 10px;
      z-index: 4;
      i {
        font-size: 22px;
      }
    }

    .bitmovinplayer-container {
      .bmpui-ui-volumetogglebutton,
      .bmpui-ui-fullscreentogglebutton {
        display: none;
      }

      .bmpui-controlbar-top {
        z-index: auto;
      }
      .bmpui-ui-seekbar .bmpui-seekbar .bmpui-seekbar-playbackposition-marker {
        display: block;
        width: 20px;
        height: 20px;
        border: 0;
        background-color: $primary-color-300;
      }
    }

    .bmpui-ui-seekbar {
      z-index: 3;
    }

    .player-fullscreen .animation.load-more {
      // background-color: $primary-color-100;
    }

    #videoPrevSeconds {
      position: relative;
      margin-left: 0;
      margin-right: 80px;
      bottom: auto;
      left: auto;
      transform: none;
      margin-top: -2px;
    }

    #videoNextSeconds {
      position: relative;
      left: auto;
      bottom: auto;
      margin-left: 80px;
      transform: none;
      margin-top: -2px;
    }

    #videoNext {
      bottom: 30px;
      transform: none;
      right: 80px;
      left: auto;
      i {
        font-size: 16px;
        margin-right: 10px;
      }
      span {
        max-width: inherit;
        overflow: inherit;
        padding: 0;
        font-size: 12px;
        position: relative;
        display: inline-block;
        left: auto;
      }
    }
    .bmpui-ui-uicontainer.bmpui-controls-shown ~ #custom-controls #videoNext {
      opacity: 0.8;
    }

    .subtitles-button {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: 25px;

      .icon-subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      i.icon-configuration {
        opacity: 0.8;
        font-size: 24px;
        margin-right: 10px;
      }

      span {
        opacity: 0.8;
        font-size: 12px;
      }

      ~ .content-subtitles {
        opacity: 0;
        visibility: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 40px 0 20px;
        transition: all 300ms ease-in-out;
        background-color: $primary-color-100;
        z-index: 3;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        .cancel {
          color: $primary-color-300;
          font-family: $font-museo-sans-500;
        }

        .button {
          background-color: $primary-color-300;
          border-right: 6px;
          margin-bottom: 0;
          margin-left: 40px;
          margin-right: 10px;
          padding-right: 40px;
          padding-left: 40px;
        }

        .row {
          margin-left: 0;
          margin-right: 0;
          width: 100%;

          &:first-child {
            max-width: 350px;
          }

          &:last-child {
            .columns {
              justify-content: flex-end;
              align-items: center;
              display: flex;
            }
          }
        }

        .columns {
          text-align: left;
          &:first-child {
            .title {
              margin-left: 10px;
            }
            ul.font-size {
              margin-left: 10px;
            }
          }
        }

        .title {
          font-size: 16px;
          font-family: $font-museo-sans-700;

          @include MQ(S) {
            font-size: 12px;
          }
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            font-family: $font-museo-sans-500;
            font-size: 14px;
            line-height: 22px;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }

            &.minimum {
              font-size: 10px;
            }

            &.minimum-regular {
              font-size: 12px;
            }

            &.regular {
              font-size: 14px;
            }

            &.regular-big {
              font-size: 18px;
            }

            &.big {
              font-size: 20px;
            }

            span {
              min-width: 40px;
              padding-right: 10px;
              text-align: left;
              display: inline-block;
            }

            i {
              // margin-left: 10px;
              font-size: 14px;
              opacity: 0;
              transition: 300ms all ease-in-out;
            }

            &.active {
              font-family: $font-museo-sans-700;
              opacity: 1;
              display: inline-block;

              i {
                opacity: 1;
              }
            }
          }
        }
      }

      &.active {
        z-index: 3;

        ~ .content-subtitles {
          opacity: 1;
          visibility: inherit;
        }
      }
    }

    .bmpui-ui-uicontainer.bmpui-controls-shown ~ #custom-controls .episode-description {
      bottom: auto;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 10px;
      opacity: 1;

      .title,
      .description {
        font-size: 16px;
        font-family: $font-museo-sans-500;
        opacity: 0.8;
      }

      .title {
        &:after {
          content: ' · ';
        }
      }

      .description {
        margin-left: 5px;
      }
    }

    .bitmovinplayer-container
      .bmpui-ui-playbacktoggle-overlay
      .bmpui-ui-hugeplaybacktogglebutton
      .bmpui-image {
      background-position: center;
    }

    .bitmovinplayer-container .bmpui-ui-container.bmpui-controlbar-top {
      margin-bottom: 40px;
    }

    .bitmovinplayer-container {
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        display: none;
      }

      .bmpui-ui-controlbar {
        height: 100%;
        width: 100%;

        .bmpui-container-wrapper {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.close-player-error-text {
  cursor: pointer;
  color: #04c3fc;
}

.input {
  opacity: 0;
  transition: 300ms all ease-in-out;
  display: flex;
  justify-content: center;
  width: 80px;
  overflow: hidden;
  background-color: #0d141e;
  box-shadow: 0px 10px 15px 1.12px rgba(0, 0, 0, 0.3);
  height: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

// }

.modal-parental-control-app {
  background-color: $primary-color-100;
  transition: all 300ms ease-in-out;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: inherit;
  }

  .close {
    position: absolute;
    left: 49px;
    top: 17px;
    outline: none;

    i {
      font-size: 22px;
      color: $white;
    }
  }

  #parental-control-modal {
    h4 {
      text-align: center;
      margin-bottom: 30px;
    }
    .connect-box {
      p {
        color: $white;
      }

      a {
        color: $primary-color-300;
        margin-top: 20px;
      }
    }
  }
}
