{{!-- This is the base layout for your project, and will be used on every page unless specified.
--}}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=11" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation for Sites</title>
  <link rel="stylesheet" href="{{ root }}assets/css/app.css" />
  <!-- <link rel="stylesheet" href="//cdn.bitmovin.com/player/web/8/bitmovinplayer-ui.css" /> -->
  <script src="{{ root }}assets/js/vendor.js"></script>
</head>

<body>
  <!-- <script type="text/javascript" src="//cdn.bitmovin.com/player/web/8.39.1/bitmovinplayer.js"></script>
    <script
      type="text/javascript"
      src="//cdn.bitmovin.com/player/web/8.39.1/bitmovinplayer-ui.js"
    ></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.9/lottie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="{{ root }}assets/js/app.js"></script>

  {{> body}}

  <!-- modal -->
  <div class="modal-overlay">
    <div class="modal">
      <!-- <a class="close-modal" data-tooltip="Back to browse">
        <i class="icon-arrow-back-browser"></i>
      </a> -->
      <!-- close modal -->

      <div class="modal-content custom-player">
        <div class="player-fullscreen">
          <div id="my-player"></div>
        </div>
      </div>
      <!-- content -->
    </div>
    <!-- modal -->
  </div>
  <!-- overlay -->

  {{{{raw}}}}
  <script id="customControls" type="text/x-jquery-tmpl">
      <button id="videoNextSeconds">
        <i class="icon-next-10-min"></i>
      </button>
      <button id="videoPrevSeconds">
        <i class="icon-back-10-min"></i>
      </button>
      <button id="play-pause">
        <span class="play-animation" data-autoplay="false"></span>
      </button>
      <div class="volume">
        <button class="icon-volume">
          <i class="icon-sound"></i>
        </button>
        <div class="input">
          <div id="vol-control"></div>
        </div>
      </div>
    </script>

  <script id="customSplash" type="text/x-jquery-tmpl">
      <div class="splash-content">
        <div class="row">
          <div class="columns">
            <div class="watching">You're watching</div>
            <h1>${title}</h1>
            <div class="time">${time}</div>
            <p>${description}</p>
            <a href="#">
              <span class="continue-animation"></span>
              Continue Watching
            </a>
          </div>
        </div>
      </div>
    </script>
  {{{{/raw}}}}
  <!-- https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js -->
  <!-- <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script> -->

  <script src="{{ root }}assets/js/user.js"></script>
  <script src="{{ root }}assets/js/menu.js"></script>

  <!-- <script src="{{ root }}assets/js/show-vue.js"></script> -->
</body>

</html>
