<link rel="stylesheet" href="{{ root }}assets/css/header.css" />

<header class="main-header">
  <nav class="nav">
    <div class="top-bar" data-topbar role="navigation">
      <div class="content">
        <div class="row align-middle">
          <div class="columns logo">
            <ul>
              <li>
                <a href="/" class="home">
                  <img src="{{root}}/assets/img/Logo_Britbox_color.svg" class="logo" />
                </a>
              </li>
            </ul>
          </div>
          <div class="columns">
            <ul class="items">
              <li>
                <a href="#" data-menu="data-explore">
                  Explore
                  <img src="{{root}}/assets/img/dropdown.png" alt="" />
                </a>
              </li>
              <li class="show-for-medium"><a href="#">New</a></li>
              <li class="show-for-medium"><a href="#">A-Z</a></li>
              <li class="show-for-medium"><a href="#">Watchlist</a></li>
            </ul>
          </div>
          <div class="columns">
            <ul class="actions">
              <li class="search">
                <a href="#" data-menu="data-search">
                  <i class="icon-search"></i>
                </a>
              </li>
              <li class="help">
                <a href="#">
                  <i class="icon-help"></i>
                </a>
              </li>
              <li>
                <a href="#" class="button outline" data-menu="data-login">
                  Sign In
                </a>
              </li>
              <li>
                <a href="#" class="button">
                  Free Trial
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu profile" data-login>
      <div class="row">
        <div class="columns">
          <div class="content one-line">
            <ul>
              <li>
                <div class="content">
                  <a href="#">My Account</a>
                </div>
              </li>
              <li>
                <div class="content">
                  <a href="#">Preferences</a>
                  <a href="#">Parental Controls</a>
                </div>
              </li>

              <li>
                <div class="content">
                  <a href="#">Help</a>
                  <a href="#">How do I?</a>
                </div>
              </li>
              <li>
                <div class="content">
                  <a href="#" class="logout">Sign Out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="menu" data-explore>
      <div class="content">
        <div class="row">
          <div class="columns">
            <div class="wrapper">
              <div class="category">Genre</div>
              <ul>
                <li><a href="#">Drama</a></li>
                <li><a href="#">Mystery</a></li>
                <li><a href="#">Comedy</a></li>
                <li><a href="#">Doc & Lifestyle</a></li>
              </ul>
            </div>
          </div>
          <div class="columns">
            <div class="wrapper">
              <div class="category">Collection</div>
              <ul>
                <li><a href="#">Now</a></li>
                <li><a href="#">Midsomer Murders</a></li>
                <li><a href="#">Classic Doctor Who</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu search" data-search>
      <div class="content">
        <div class="row align-center">
          <div class="columns small-12 medium-8 search">
            <span class="icon-search"></span>
            <input
              id="search"
              type="search"
              placeholder="Search by cast, title, collection, or genre"
            />
          </div>
          <div class="columns small-8 found">
            <div id="words-searching" class="hide">
              <div class="wrapper">
                <span> These are the results for your search "<b></b>"</span>
              </div>
            </div>
            <div id="not-found" class="hide">
              <div class="wrapper">
                <span>
                  <b>We are sorry!</b> We did not find results for your search.
                  <br />
                  But surely you may be interested...
                </span>
              </div>
            </div>
          </div>
          <div class="columns small-8">
            <div id="browse">
              <div class="row quick-links">
                <div class="small-12 columns">
                  <ul id="quick-links">
                    <li>Browse:</li>
                    <li><a href="http://#">Movie</a></li>
                    <li><a href="http://#">Show</a></li>
                    <li><a href="http://#">Popular</a></li>
                    <li><a href="http://#">Britmas</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-center">
          <div class="columns small-8">
            <div class="row" id="list">
              <div class="columns">
                <div class="title">Genre</div>
                <ul>
                  <li>
                    <a href="#">Mystery</a>
                  </li>
                  <li>
                    <a href="#">Comedy</a>
                  </li>
                  <li>
                    <a href="#">Drama</a>
                  </li>
                  <li>
                    <a href="#">Doc & Lifestyle</a>
                  </li>
                </ul>
              </div>
              <div class="columns">
                <div class="title">
                  Collection
                </div>
                <ul>
                  <li>
                    <a href="#">New</a>
                  </li>
                  <li>
                    <a href="#">Britsh Home & Garden</a>
                  </li>
                  <li>
                    <a href="#">Classic Doctor Who</a>
                  </li>
                  <li>
                    <a href="#">Panel Channel</a>
                  </li>
                </ul>
              </div>
              <div class="columns">
                <div class="title">
                  New to Britbox
                </div>
                <ul>
                  <li>
                    <a href="#">Shakesperare and Hathaway</a>
                  </li>
                  <li>
                    <a href="#">Bill</a>
                  </li>
                  <li>
                    <a href="#">jekyll & Hyde</a>
                  </li>
                  <li>
                    <a href="#">Murder, Mystery and My family</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="results"></div>
        <div id="people"></div>
        <div id="recommendatiions" class="hide">
          <div class="row">
            <div class="columns">
              <h1>
                Our recommendations
              </h1>
            </div>
          </div>
          <div class="row">
            {{#repeat 5}}
            <div class="columns small-12 medium-4">
              <div class="item">
                <div class="card">
                  <div class="image pulsate">
                    <a href="#">
                      <div class="b-lazy" data-src="https://via.placeholder.com/500x280"></div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            {{/repeat}}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- nav -->
</header>

{{{{raw}}}}

<script id="peopleData" type="text/x-jquery-tmpl">
  <div class="wrapper">
    <div class="row">
      <div class="columns small-12 medium-12">
        <h3 class="bottom">Cast related to your search:</h3>
      </div>
    </div>
    <div class="row align-center">
      <div class="columns small-12 medium-12">
        <div class="row collapse">
          {{each data}}
          <div class="columns small-6 medium-2 custom-offset-1">
            <div class="person">
              <a href="${path}">
                <div class="name">
                  <img src="${getUrlImageStatic('img/star.png')}" alt="" />
                  ${name}
                </div>
                <div class="surname">
                  ${surname}
                </div>
              </a>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</script>

<script id="resultsData" type="text/x-jquery-tmpl">
  <div class="wrapper">
    <div class="row">
      {{each data}}
      <div class="columns small-12 medium-4">
        <div class="item">
          <div class="card">
            <div class="image pulsate">
              <a href="${path}">
                <div class="b-lazy" data-src="${images.tile}"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</script>

<script id="searchWords" type="text/x-jquery-tmpl">
  ${text}
</script>

{{{{/raw}}}}
