@import '../settings';
@import '../mixins/gradient';
@import '../../../../node_modules/compass-sass-mixins/lib/compass';

$spaceamounts: (
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  75,
  100
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px;
    }
  }
}

.icon-notification.active,
.icon-add-list.active,
.icon-claps.active {
  color: $primary-color !important;
  border-color: $primary-color !important;
}

.icon-notification,
.icon-add-list,
.icon-claps {
  cursor: pointer;
}

.icon-add-list.active {
  &:before {
    font-size: 10px;
  }
}

.icon-claps.active {
  cursor: default;
}

.clear-fix {
  @include clearfix;
}

.b-lazy {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;

  &.b-loaded,
  &.b-error {
    opacity: 1;
  }

  &.checking-data {
    opacity: 0;
  }
}

.image-wrapper {
  background-image: url('../img/logo.png');
  background-position: center;
  background-size: auto;
  background-color: $primary-color-100;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  + .row {
    transition: all 300ms ease-in-out;
    opacity: 0;
  }

  &.loaded {
    background-image: none;

    + .row {
      opacity: 1;
    }
  }
}

.image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-image: url('../img/logo.png');
  background-position: center;
  background-size: auto;
  background-color: $primary-color-100;
  background-repeat: no-repeat;

  @include MQ(S) {
    background-size: 80px;
  }

  &:hover {
    .b-lazy {
      transform: scale(1.05);
    }
  }

  .b-lazy {
    transition: all 500ms;
  }
}

.white-content {
  background-color: $white;
}

.drag {
  @include MQ(S) {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }
  }
}

.pointer {
  cursor: pointer;
}

#splash-screen {
  background: black;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  top: 0;
  left: 0;

  .loadingoverlay_element {
    animation-iteration-count: 3 !important;
    animation-name: none !important;
    animation-timing-function: unset !important;
  }
}

@keyframes fadein-logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein-logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein-logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein-logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein-logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.breadcrumbs {
  position: relative;

  li {
    color: $white;
    opacity: 1;
    font-size: 12px;
    line-height: 28px;
    font-family: $font-museo-sans-700;

    &:not(:last-child)::after {
      margin: 0 5px;
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
    }

    a {
      color: inherit;
      opacity: 0.5;

      &.current {
        opacity: 1;
      }
    }
  }
}

@-webkit-keyframes pulsateAnimation {
  from {
    background-color: $primary-color-200;
  }

  25% {
    background-color: darken($color: $primary-color-200, $amount: 30%);
  }

  50% {
    background-color: $primary-color-200;
  }

  to {
    background-color: $primary-color-200;
  }
}

@-moz-keyframes pulsateAnimation {
  from {
    background-color: $primary-color-200;
  }

  25% {
    background-color: darken($color: $primary-color-200, $amount: 30%);
  }

  50% {
    background-color: $primary-color-200;
  }

  to {
    background-color: $primary-color-200;
  }
}

@-o-keyframes pulsateAnimation {
  from {
    background-color: $primary-color-200;
  }

  25% {
    background-color: lighten($color: $primary-color-100, $amount: 10%);
  }

  50% {
    background-color: $primary-color-200;
  }

  to {
    background-color: $primary-color-200;
  }
}

@keyframes pulsateAnimation {
  from {
    background-color: $primary-color-200;
  }

  25% {
    background-color: lighten($color: $primary-color-100, $amount: 10%);
  }

  50% {
    background-color: $primary-color-200;
  }

  to {
    background-color: $primary-color-200;
  }
}

@-webkit-keyframes pulsateTransparentAnimation {
  from {
    background-color: transparent;
  }

  25% {
    background-color: lighten($color: $primary-color-100, $amount: 10%);
  }

  50% {
    background-color: transparent;
  }

  to {
    background-color: transparent;
  }
}

@-moz-keyframes pulsateTransparentAnimation {
  from {
    background-color: transparent;
  }

  25% {
    background-color: lighten($color: $primary-color-100, $amount: 10%);
  }

  50% {
    background-color: transparent;
  }

  to {
    background-color: transparent;
  }
}

@-o-keyframes pulsateTransparentAnimation {
  from {
    background-color: transparent;
  }

  25% {
    background-color: lighten($color: $primary-color-100, $amount: 10%);
  }

  50% {
    background-color: transparent;
  }

  to {
    background-color: transparent;
  }
}

@keyframes pulsateTransparentAnimation {
  from {
    background-color: transparent;
  }

  25% {
    background-color: lighten($color: $primary-color-100, $amount: 10%);
  }

  50% {
    background-color: transparent;
  }

  to {
    background-color: transparent;
  }
}

.pulsate,
.pulsate-transparent {
  animation-duration: 3.6s;
  animation-name: pulsateAnimation;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}

.pulsate-transparent {
  animation-name: pulsateTransparentAnimation;
}

.no-pulsate {
  background-color: lighten($color: $primary-color-100, $amount: 10%);
}

.pulsateTransition-enter {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  z-index: 10000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.pulsateTransition-enter.pulsateTransition-enter-active {
  opacity: 1;
}

.pulsateTransition-leave {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.pulsateTransition-leave.pulsateTransition-leave-active {
  opacity: 0;
}

.title {
  font-family: $font-museo-sans-500;
  color: $white;
  font-size: $global-font-size + 70%;
  line-height: 38px;
  text-transform: capitalize;

  @include MQ(M) {
    font-size: 20px;
  }

  @include MQ(XS) {
    img {
      position: absolute;
      margin-top: -180px;
    }
  }
}

.pulsate-css {
  border: 8px solid rgba(#04c3fc, 0.5);
  border-radius: 50%;
  height: 87px;
  width: 87px;
  position: relative;
  display: inline-block;
  animation: pulsate 3s ease-out;
  animation-iteration-count: 3;
  text-align: center;
  margin-right: 10px;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.9, 0.9);
    opacity: 0;
  }
}

.actions {
  display: flex;
  margin-top: 65px;
  margin-bottom: 110px;

  @include MQ(SM) {
    margin-top: 20px;
    margin-bottom: 45px;
  }

  &.bottom {
    position: relative;
    z-index: 1;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    @include MQ(M) {
      justify-content: flex-start;
    }

    i {
      margin-right: 10px;
      font-size: 38px;

      @include MQ(M) {
        // margin-right: 0;
        font-size: 34px;
      }
    }

    em {
      display: block;
      font-style: normal;
      color: $light-gray;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .play-now {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-family: $font-museo-sans-700;
    color: $primary-color-300;
    margin-right: 45px;

    @include MQ(SM) {
      > span {
        display: none;
        position: relative;
        left: -10px;
        line-height: 18px;
      }
    }

    @include MQ(M) {
      font-size: 16px;
    }

    @include MQ(SM) {
      margin-right: 0;
      width: auto;
    }

    .play-animation {
      display: block;
      max-width: 80px;
      float: left;
      transition: all 300ms ease-in-out;
      margin-right: 10px;
      // margin-left: -20px;

      @include MQ(M) {
        // margin-left: -5px;
      }

      @include MQ(SM) {
      }

      img {
        position: relative;
        display: inline-block;
        width: 60px;
        // margin-right: 10px;
        // margin-left: 10px;
        top: -4px;

        @include MQ(M) {
          width: 50px;
          top: 0;
        }
      }
    }

    .continue-animation {
      max-width: 80px;
      float: left;
      // margin-left: -20px;

      img {
        position: relative;
        display: inline-block;
        width: 60px;
        // margin-right: 10px;
        // margin-left: 10px;
        top: -4px;
      }
    }
  }

  .watchlist {
    color: $white;
    font-size: 14px;
    line-height: 28px;
    margin-right: 50px;

    @include MQ(XM) {
      margin-left: 0;
      margin-right: 35px;

      span {
        display: none;
        max-width: 0;
      }
    }

    @keyframes wave {
      0%,
      60%,
      100% {
        transform: initial;
      }

      30% {
        transform: translateY(-5px);
      }
    }

    .dots {
      position: relative;
      text-align: center;
      margin-right: 10px;
      border: 0.1rem solid $white;
      border-radius: 50%;
      width: 28px;
      height: 21px;
      padding-top: 7px;

      @include MQ(XS) {
        width: 32px;
        height: 32px;
      }

      .dot {
        display: inline-block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        margin-right: 0;
        margin-bottom: 10px;
        background: $white;
        animation: wave 0.8s linear infinite;

        &:nth-child(2) {
          animation-delay: -0.7s;
        }

        &:nth-child(3) {
          animation-delay: -0.5s;
        }
      }
    }

    .icon-tick {
      font-size: 12px;
      border: 0.1rem solid $white;
      border-radius: 50%;
      width: 31px;
      height: 31px;
      display: flex;
      align-items: center;
      justify-content: center;
      // margin-right: 10px;

      &:before {
        font-weight: 600;
      }
    }
  }

  .icon-discover-more {
    font-size: 31px;
    // margin-left: 10px;
  }

  .icon-close {
  }

  .icon-wishlist {
    font-size: 33px;
    // margin-right: 10px;
  }

  .discover {
    color: $white;
    font-size: 14px;
    line-height: 28px;

    @include MQ(XM) {
      span {
        display: none;
      }
    }
  }
}

.top-banner {
  position: relative;
  height: 100%;
  overflow: hidden;
  // max-height: 592px;

  @include MQ(S) {
    margin-top: 0;
    // max-height: 100vh;
  }

  .content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    transition: all 300ms ease-in-out;
    z-index: 2;

    // @include MQ(S) {
    //   justify-content: flex-end;
    //   height: calc(100vh - 90px);
    // }

    @include MQ(XS) {
      .actions {
        margin: 20px 0 40px;
      }

      .navigation {
        display: none;
      }
    }

    .image-background {
      background-position: top center;
      background-repeat: no-repeat;
      // position: absolute;
      width: 100%;
      height: 100%;
      max-width: 1800px;
      position: relative;
      margin-left: auto;
      margin-right: auto;

      // top: 0;
      // padding-bottom: 24vw;

      @media only screen and (min-width: 1800px) {
        .gradient-left,
        .gradient-right {
          background: linear-gradient(
            to left,
            rgba($primary-color-100, 0) 0%,
            rgba($primary-color-100, 1) 100%
          );

          width: 30%;
          height: 100%;
          position: absolute;
          top: 0;
          left: -5px;
          z-index: 1;
        }

        .gradient-right {
          left: auto;
          right: -5px;
          background: linear-gradient(
            to right,
            rgba($primary-color-100, 0) 0%,
            rgba($primary-color-100, 1) 100%
          );
        }
      }

      @include MQ(XXL) {
        // padding-bottom: 34vw;
      }

      + .row {
        transition: all 300ms ease-in-out;
        opacity: 0;
      }

      &.loaded + .row {
        opacity: 1;
      }

      &.b-loaded {
        background-size: cover;
        background-position: top center;

        @include MQ(M) {
          background-size: cover;
          height: 100%;
          background-position: 70% 0;
          filter: brightness(60%);
        }
      }

      &:after {
        position: absolute;
        content: '';
        width: 100%;

        // especial resolution MAC13"
        // @media only screen and (max-width: 1300px) and (min-width: 1200px) {
        //   bottom: 80px;
        // }

        // @include MQ(XXL) {
        height: 200px;
        bottom: 0;
        background-color: rgba(23, 27, 35, 0);
        @include filter-gradient($primary-color-100, $primary-color-100, vertical);
        @include background-image(
          linear-gradient(
            top,
            rgba(23, 27, 35, 0) 0%,
            rgba(23, 27, 35, 0.43) 32%,
            rgba(23, 27, 35, 0.69) 54%,
            rgba(23, 27, 35, 0.75) 59%,
            rgba(23, 27, 35, 0.9) 73%,
            rgba(23, 27, 35, 1) 89%,
            rgba(23, 27, 35, 1) 100%
          )
        );
        // }

        @include MQ(XM) {
          height: 80px;
        }
      }

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 250px;
      }
    }

    .image-wrapper {
      &:after {
        position: absolute;
        left: 0;
        bottom: -3px;
        content: '';
        width: 100%;
        height: 200px;

        background-color: rgba(23, 27, 35, 0);
        @include filter-gradient($primary-color-100, $primary-color-100, vertical);
        @include background-image(
          linear-gradient(
            to bottom,
            rgba(23, 27, 35, 0) 0%,
            rgba(23, 27, 35, 0.43) 32%,
            rgba(23, 27, 35, 0.69) 54%,
            rgba(23, 27, 35, 0.75) 59%,
            rgba(23, 27, 35, 0.9) 74%,
            rgba(23, 27, 35, 1) 89%,
            rgba(23, 27, 35, 1) 100%
          )
        );
        z-index: 3;

        @include MQ(XM) {
          height: 80px;
        }
      }

      &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 50%;
        height: 100%;

        background-color: rgba(23, 27, 35, 0);
        @include filter-gradient($primary-color-100, $primary-color-100, horizontal);
        @include background-image(
          linear-gradient(
            to right,
            rgba(23, 27, 35, 1) 0%,
            rgba(23, 27, 35, 1) 11%,
            rgba(23, 27, 35, 0.9) 26%,
            rgba(23, 27, 35, 0.75) 41%,
            rgba(23, 27, 35, 0.69) 46%,
            rgba(23, 27, 35, 0.43) 68%,
            rgba(23, 27, 35, 0) 100%
          )
        );
        z-index: 1;

        @include MQ(M) {
          display: none;
        }
      }

      @include MQ(XS) {
        position: relative;
        height: 230px;
        width: 100%;
      }
    }

    .wrapper {
      position: relative;
      max-height: 240px;
      overflow: hidden;
      z-index: 2;
    }

    h1 {
      font-family: $font-museo-sans-300;
      font-size: 18px;
      line-height: 1;
      max-width: 700px;
      margin-top: 33px;
      line-height: 47px;
      padding-bottom: 5px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 135px;

      @include MQ(M) {
        font-size: 30px;
        // line-height: 34px;
      }
    }

    div[data-tracking] {
      display: none;
    }

    .row {
      position: relative;
      z-index: 4;
      width: 100%;
      height: 100%;
    }

    nav {
      ul {
        transition: all 300ms ease-in-out;
        margin-top: 80px;
        margin-bottom: 0;
      }

      + img {
        position: relative;
        z-index: 2;
        margin-top: 48px;
        margin-bottom: 10px;
      }

      + h1 {
        font-size: $global-font-size + 167%;
        font-family: $font-museo-sans-700;

        @include MQ(M) {
          font-size: 30px;
        }
      }

      ~ p {
        margin-top: 30px;
        font-size: 16px;
        line-height: 26px;
        max-width: 520px;
        // max-height: 130px;
        // overflow: hidden;

        @include MQ(M) {
          font-family: $font-museo-sans-300;
          font-size: 14px;
          line-height: 24px;
          margin-top: 0;
        }

        + .notes {
          font-size: 14px;
          line-height: 22px;
          opacity: 0.5;
          margin-top: 14px;

          + .actions {
            margin-top: 38px;
          }
        }
      }
    }

    .footer {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-top: 0;

      @media only screen and (max-width: 1380px) and (min-width: 1200px) {
        margin-top: 30px;
      }

      /* Center vertically */
      align-items: center;

      /*Center horizontaly */
      justify-content: space-between;

      /*Center horizontaly ie */
      -ms-flex-pack: center;

      .row {
        flex: 1 0 auto;
        width: 100%;
      }

      @include MQ(S) {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .left {
        margin: 0;
        list-style: none;
        max-width: 520px;

        @include MQ(S) {
          margin-bottom: 10px;
        }

        li {
          color: $white;
          opacity: 0.5;
          font-size: 14px;
          line-height: 22px;
          font-family: $font-museo-sans-300;

          text {
            display: none;
          }

          span {
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            @include MQ(S) {
              &:nth-child(4) {
                display: block;
              }
            }
          }

          b {
            font-size: $font-museo-sans-500;
          }
        }
      }

      .right {
        list-style: none;
        display: flex;
        margin: 0;

        li {
          border-radius: 4px;
          font-size: 10px;
          line-height: 1;
          padding: 6px 8px 5px;
          margin-left: 10px;
          white-space: nowrap;

          &:first-child {
            margin-left: 0;
          }

          &.background {
            color: $secondary-color;
            background-color: $white;
          }

          &.outline {
            border: 1px solid $white;
            color: $white;
          }

          &.ribbon {
            font-size: 12px;
            color: $white;

            &.Blue-normal {
              background-color: #006eff;
            }

            &.Blue-light {
              background-color: #00c4fe;
            }

            &.Blue-dark {
              background-color: #172335;
            }

            &.White {
              background-color: $white;
              color: #0d141e;
            }
          }
        }
      }
    }

    .actions .play-animation ~ span > span {
      display: none;
    }
  }
}

.tabs-wrapper {
  overflow: hidden;

  // ul.tabs {
  //   @include MQ(M) {
  //     display: flex;
  //   }
  // }

  h5 {
    font-family: $font-museo-sans-300;
    font-size: 22px;
    line-height: 38px;
  }

  .tabs-content {
    background-color: transparent;

    .show-for-small {
      display: none;

      @include MQ(XM) {
        display: inline-block;
      }
    }
  }

  .tabs-panel {
    display: block;
    padding: 25px 0;

    &.is-active {
      display: block;
    }

    &.hide {
      display: none;
    }
  }

  .tabs-title {
    position: relative;
    opacity: 0.3;
    margin-right: 30px;
    margin-top: 5px;

    // @include MQ(M) {
    //   margin: 0;
    // }

    > a {
      font-size: $global-font-size + 70%;
      line-height: 38px;
      padding-left: 30px;

      @include MQ(M) {
        font-size: 20px;
        line-height: 26px;
        padding-left: 15px;
        padding-right: 10px;
        white-space: nowrap;
      }

      &:hover {
        color: $white;
      }

      &:focus {
        outline: 0;
      }
    }

    &.is-active {
      opacity: 1;

      a:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $primary-color-300;
        position: absolute;
        top: 12px;
        left: 0;

        @include MQ(M) {
          top: 9px;
        }
      }
    }
  }

  .swiper {
    margin-top: 0;

    .swiper-slide {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.flex-grid {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .flex-grid-container {
    display: flex;
    flex: 1;

    > .flex-grid-child {
      margin-right: 7px;
      margin-bottom: 15px;

      &:last-of-type {
        margin-right: 0px;
        max-width: 300px;
        width: 30%;

        @include MQ(M) {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  .flex-grid-row,
  .flex-grid-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 0px;
  }

  .flex-grid-column {
    flex-direction: column;

    .flex-grid-child {
      margin-right: 7px;
      margin-bottom: 15px;
      overflow: hidden;

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    &:last-of-type {
      .flex-grid-child {
        margin-right: 0px;
        margin-left: 7px;
      }
    }
  }

  .flex-grid-mother {
    flex: 1;
    align-self: auto;
  }

  .flex-grid-child {
    flex: 1;
    align-self: auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.tns-liveregion {
  display: none;
}

.tns-ovh {
  overflow: hidden;
}

.load-animation {
  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    max-width: 100px;
  }
}

.top-area {
  transition: all 300ms ease-in-out;
  padding-top: 90px;
  padding-bottom: 60px;

  .breadcrumbs {
    margin-bottom: 0;
  }

  h1 {
    font-family: $font-museo-sans-700;
    font-size: $global-font-size + 140%;
  }

  p {
    font-family: $font-museo-sans-300;
    margin-top: 10px;
    font-size: $global-font-size + 15%;
    max-width: 525px;
  }
}

.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border-top: 1px solid $white;
  background: $primary-color-100;
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  box-sizing: border-box;

  #autocomplete-scroll {
    padding: 9px 60px;
    max-height: 300px;

    @include MQ(S) {
      padding: 9px 0;
    }
  }

  .scrollbar-track-y {
    width: 4px;
  }
}

.autocomplete-suggestion {
  line-height: 60px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 34px;
  font-style: italic;
  color: rgba($white, 0.5);
  cursor: pointer;
  font-family: $font-museo-sans-300;

  b {
    font-style: normal;
    font-weight: normal;
    font-family: $font-museo-sans-300;
    color: $white;
  }

  &.selected {
    font-family: $font-museo-sans-700;

    b {
      font-family: $font-museo-sans-700;
    }
  }

  @include MQ(S) {
    font-size: 16px;
    line-height: 30px;
  }
}

.hide {
  display: none !important;
}

.main-content {
  position: relative;
  z-index: 1;
  padding-top: 106px;
  flex: 1;

  @include MQ(M) {
    padding-top: 91px;
  }

  @include MQ(XM) {
    padding-top: 91px;
  }

  @include MQ(S) {
    padding-top: 86px;
  }

  &.home {
    margin-bottom: 40px;
  }

  // modal
  .v--modal-overlay {
    background-color: rgba($primary-color-100, 0.9);

    .v--modal {
      padding: 30px;
      background-color: $white;
      color: $primary-color-100;

      .close {
        position: absolute;
        right: 10px;
        top: 10px;
        outline: none;
        transform: rotate(45deg);
        opacity: 0.8;

        i {
          color: $primary-color-100;
          font-size: 40px;
        }

        &:hover {
          opacity: 1;
        }
      }

      .button {
        margin-top: 20px;
      }
    }
  }
}

.overflow {
  overflow: hidden;
}

modal {
  display: none;
}

#parental-control-modal {
  position: relative;
}

div[data-name-modal='modal-custom'] {
  [role='button'] {
    cursor: pointer;
  }

  .modal-open {
    overflow: hidden;

    .modal-custom {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .modal-custom {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal-custom.fade .modal-dialog {
    transform: translate(0, -3%);
    transition: transform 0.3s ease-out;
  }

  .modal-custom.in .modal-dialog {
    transform: translate(0, 0);
  }

  .modal-dialog {
    position: relative;
    width: 500px;
    margin: 180px auto 0;
  }

  .modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
  }

  .modal-header {
    position: relative;
    z-index: 1;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;

    .fade {
      opacity: 0;
      filter: alpha(opacity=0);
    }

    .in {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  }

  .modal-header {
    .close {
      padding: 15px 15px 0 0;
      outline-color: transparent;
      transition: opacity 0.3s ease-out;

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .modal-body {
    position: relative;
    padding: 22px 50px 30px;

    h1 {
      margin-bottom: 10px;
      color: $primary-color-100;
      font-size: 20px;
      line-height: 1;
      text-align: center;
    }

    p {
      text-align: center;
      font-size: 16px;
      line-height: 26px;
      color: $primary-color-100;
    }

    a.button,
    .button {
      margin: 20px auto 0;
      width: 100%;
      max-width: 210px;
      background-color: #2d6eff;
      display: block;
      padding: 14px 20px;
      border: 1px solid transparent;
      border-radius: 5px;
      font-family: MuseoSans-700, Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 1;
      text-decoration: none;
      color: #ffffff;
      -webkit-appearance: none;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.25s ease-out, color 0.25s ease-out, border-color 0.25s ease-out;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
  }

  .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }

  button.close {
    display: none;
    float: right;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
  }

  button.close svg {
    width: 35px;
    height: 35px;
  }

  button.close:hover,
  button.close:focus {
    cursor: pointer;
  }

  @include MQ(XM) {
    .modal-dialog {
      margin: 130px auto 0;
      width: auto;
    }

    .modal-content {
      margin: 0 auto;
      max-width: 510px;
    }
  }

  @include MQ(S) {
    .modal-dialog {
      margin: 100px auto 0;
      width: auto;
    }

    .modal-content {
      margin: 0 20px;
    }

    .modal-body {
      padding: 40px 20px;

      p {
        font-size: 14px;
        line-height: 20px;
        max-width: 70%;
        margin: 0 auto;
      }
    }

    .modal-header .close {
      padding: 5px 5px 0 0;
      transform: scale(0.8);
    }

    .modal-header .close svg {
      width: 35px;
      height: 35px;
    }
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .show {
    display: block !important;
  }

  .invisible {
    visibility: hidden;
  }

  .text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .hidden {
    display: none !important;
  }

  .affix {
    position: fixed;
  }
}

/* FIXES FOR IE 11 */

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main-content {
    flex: 1 0 auto;
  }

  .flex-grid-mother {
    flex: 1 0 auto !important;
  }

  .flex-grid-child {
    .box .card {
      .description {
        display: block !important;
        width: 100%;

        .actions.bottom {
          display: inline-flex !important;
        }
      }
    }

    .flex-grid-child.flex-grid-column {
      .box .card {
        .card-content {
          display: block;

          .description {
            .description {
              max-height: calc(1.26em * 2);
              overflow: hidden;
            }

            .actions.bottom {
              display: inline-flex !important;

              .play-now,
              .discover {
                position: relative;
                top: -40px;
              }
            }
          }
        }
      }
    }
  }

  .box .card-content .play-animation {
    width: 200%;

    + span {
      white-space: nowrap;
    }
  }
}
