@import './settings';
@import './mixins/gradient';
@import './vendor/tns';
@import './mixins/helpers';

.australia {
  .nav .top-bar {
    border-bottom: 0;
    margin-bottom: 20px;
    .content .columns {
      margin-right: auto;
    }
  }

  .policy .top-area {
    padding-top: 15px;
  }

  &.main-header .nav .top-bar li img {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 98px;

    @include MQ(L) {
      height: 80px;
      margin-bottom: 0;
    }

    @include MQ(S) {
      margin-top: 0;
      margin-bottom: 0;
      height: 63px;
    }
  }

  + footer {
    min-height: 166px;

    @include MQ(S) {
      min-height: auto;
    }

    nav .wrapper ul {
      @include MQ(S) {
        margin-top: 12px;
        margin-bottom: 35px;
      }

      li {
        font-size: 14px;
        line-height: 24px;
        opacity: 1;
        color: #cdd2d8;
        text-align: left;

        @include MQ(S) {
          flex-basis: 100%;
          line-height: 22px;
        }

        a {
          text-decoration: underline;
          color: #4ba0b8;

          &:hover {
            border-color: transparent;
          }
        }
      }
    }
  }

  .terms {
    margin-bottom: 80px;

    hr {
      opacity: 0.5;
    }

    a {
      color: $white;
      text-decoration: underline;
    }

    h1 {
      text-align: left;
      font-size: 48px;

      @include MQ(L) {
      }

      @include MQ(S) {
        font-size: 34px;
      }
    }

    h2 {
      font-size: 27px;

      @include MQ(S) {
        font-size: 22px;
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 14px;

      @include MQ(S) {
        margin-bottom: 12px;
      }
    }
  }

  h1 {
    transition: all 300ms ease-in-out;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 15px;

    @include MQ(L) {
      font-size: 35px;
    }

    @include MQ(S) {
      font-size: 30px;
      line-height: 38px;
      text-align: left;
      margin-top: 45px;
    }
  }

  p {
    transition: all 300ms ease-in-out;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;

    @include MQ(L) {
      font-size: 16px;
    }

    @include MQ(S) {
      font-size: 14px;
      line-height: 21px;
      text-align: left;
      margin-bottom: 12px;
    }
  }

  .form {
    margin-top: 7px;
    margin-bottom: 17px;
    transition: all 300ms ease-in-out;

    @include MQ(L) {
      margin-top: 0;
      margin-bottom: 0;
    }

    @include MQ(S) {
      margin-top: -44px;
    }

    h1 {
      margin-bottom: 3px;
      text-shadow: 0px 4px 16.74px rgba(0, 0, 0, 0.44);
      @include MQ(S) {
        margin-bottom: 12px;
      }
    }

    .input-wrapper {
      display: flex;
      align-items: flex-end;
      margin-top: 65px;
      margin-bottom: 25px;
      flex-wrap: wrap;
      flex-direction: column;

      @include MQ(L) {
        margin-top: 35px;
      }

      @include MQ(S) {
        flex-direction: column;
        margin-top: 13px;

        input {
          width: 100%;
        }

        button {
          width: 100%;
        }
      }

      button {
        font-size: 18px;
        padding-top: 18px;
        padding-bottom: 18px;
        position: relative;
        margin-left: -5px;
        margin-bottom: -4px;
        background-color: #4ba0b8;
        flex: none;
        transition: all 300ms ease-in-out;

        &[disabled] {
          background: #2b3343;
          color: $white;
          opacity: 1;
        }

        @include MQ(S) {
          margin-top: 18px;
          border-radius: 5px;
          padding-top: 19px;
          padding-bottom: 19px;
          margin-left: 0;
          width: 100%;
        }
      }

      > div {
        flex: 1;
        width: 100%;

        > span {
          width: 100%;
          font-size: 16px;
          line-height: 20px;
          display: block;
          margin-bottom: 15px;
          padding-right: 10px;
          @include MQ(S) {
            margin-bottom: 20px;
          }
        }

        input {
          line-height: 45px;
          padding-top: 4px;
          border-radius: 5px;
          border: 0;
          padding-left: 30px;
          padding-right: 30px;
          width: 100%;
          box-shadow: 0 5px 0 0 $white;
          // border-bottom: transparent;
          outline: 0;
          transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s, margin 0.3s;

          &.error {
            // border-bottom: 5px solid #d2525d;
            box-shadow: 0 5px 0 0 #d2525d;
            font-size: 16px;
          }

          @include MQ(S) {
            line-height: 48px;
          }
        }

        &.input-content {
          display: flex;
          align-items: center;

          > div {
            flex: 1;
          }
          @include MQ(S) {
            flex-wrap: wrap;
          }
        }
      }
    }

    p {
      text-shadow: 0px 4px 16.74px rgba(0, 0, 0, 0.44);
    }
  }

  .error-message {
    color: #d2525d;
    position: absolute;
    font-family: $font-museo-sans-300;
    margin-top: 15px;
    display: flex;

    i {
      margin-right: 5px;
      margin-top: -1px;
    }

    @include MQ(S) {
      position: relative;
    }
  }

  .description {
    @include linear-gradient(0deg, $primary-color-100, #1f2633);

    padding-top: 64px;
    padding-bottom: 54px;

    @include MQ(S) {
      padding-top: 0;
      padding-bottom: 34px;

      p {
        text-align: left;
      }
    }
  }

  .checkbox {
    margin-bottom: 60px;
    transition: all 300ms ease-in-out;

    @include MQ(S) {
      margin-bottom: 15px;
    }
  }

  /* Basic styles */
  input[type='checkbox'],
  input[type='radio'] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 2em;
    height: 1.5em;
    line-height: 1.5;
    cursor: pointer;

    span {
      opacity: 0.5;

      @include MQ(S) {
        font-size: 12px;
        line-height: 20px;
        margin-top: -3px;
        display: inline-block;
      }
    }
  }
  label::before,
  label::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.5em;
    height: 1.5em;
  }
  label::before {
    content: ' ';
    border: 2px solid $primary-color;
    border-radius: 20%;
  }
  /* Checkbox */
  input[type='checkbox'] + label::after {
    content: '';
    background-image: url(../img/checked.png);
    background-repeat: no-repeat;
    background-position: center;
    color: $white;
    line-height: 1.5;
    text-align: center;
    width: 24px;
    height: 24px;
    display: inline-block;
  }
  /* Radio */
  input[type='radio'] + label::before {
    border-radius: 50%;
  }
  input[type='radio'] + label::after {
    content: ' ';
    top: 0.25em;
    left: 0.25em;
    width: 1em;
    height: 1em;
    background: $primary-color;
    border: 0.2em solid #2c3e50;
    border-radius: 50%;
  }
  /* :checked */
  input[type='checkbox']:checked + label::before,
  input[type='radio']:checked + label::before {
    background: $primary-color;
    border-color: $primary-color;
  }
  input[type='checkbox'] + label::after,
  input[type='radio'] + label::after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  input[type='checkbox']:checked + label::after,
  input[type='radio']:checked + label::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  /* Transition */
  label::before,
  label::after {
    -webkit-transition: 0.25s all ease;
    -o-transition: 0.25s all ease;
    transition: 0.25s all ease;
  }

  #horizontal-scroll {
    margin-top: 18px;
    margin-bottom: 56px;
    width: 100%;
    height: 500px;
    background: url(../img/australia-carousel.png) repeat-x;
    background-size: cover;
    -webkit-animation: backgroundScroll 60s linear infinite;
    animation: backgroundScroll 60s linear infinite;
    transition: all 300ms ease-in-out;

    @include MQ(S) {
      height: 210px;
      margin-bottom: 46px;
    }
  }

  @-webkit-keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -2325px 0;
    }
  }
  @keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -2325px 0;
    }
  }

  .action-play {
    margin-top: 30px;
    .columns {
      display: contents;

      a {
        margin-right: 15px;
      }
    }

    .activate {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-image: url(../icons/pause.svg);
      background-repeat: no-repeat;
      background-size: cover;
      &.stop {
        background-image: url(../icons/play-now.svg);
      }
    }
  }

  .thank-you {
    h1 {
      line-height: 1;
      text-shadow: 0px 4px 16.74px rgba(0, 0, 0, 0.44);
      margin-bottom: 18px;

      @include MQ(S) {
        text-align: center;
      }
    }

    p {
      text-shadow: 0px 4px 16.74px rgba(0, 0, 0, 0.44);
      margin-bottom: 100px;
      transition: all 300ms ease-in-out;

      @include MQ(L) {
        margin-bottom: 0;
      }

      @include MQ(S) {
        text-align: center;
        margin-bottom: 0;
      }
    }

    .animation.thank-you {
      max-width: 143px;
      margin: 0 auto 20px;
    }
  }
}

.back {
  position: absolute;
  margin-top: -140px;
  transition: all 300ms ease-in-out;
  z-index: 2;

  @include MQ(L) {
    margin-top: -125px;
  }

  @include MQ(S) {
    margin-top: -105px;
  }

  i.icon-arrow-back-browser {
    display: inline-block;
    font-size: 40px;
    color: $white;
    transition: all 100ms ease-in-out;

    @include MQ(S) {
      font-size: 30px;
    }
  }

  &:hover {
    i.icon-arrow-back-browser {
      transform: scale(1.1);
    }
  }
}
