@charset 'utf-8';
@import './settings';
@import 'mixins/helpers';
@import 'mixins/gradient';
@import 'settings';
@import 'vendor/swiper';
@import 'components/partials/swiper';
@import 'components/partials/card';
@import 'components/partials/home-box';

.dot ul,
.dotstyle ul {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  li {
    position: relative;
    display: block;
    float: left;
    margin-bottom: 30px;
    width: 14px;
    height: 14px;
    cursor: pointer;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      background-color: $white;
      width: 29px;
      top: 28px;
      left: calc(-50% - 1px);
      transform: rotate(90deg);
      transition: all 300ms ease-in-out;
    }

    &:last-of-type:before {
      width: 0;
    }

    a {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 50%;
      text-indent: -999em;
      /* make the text accessible to screen readers */
      cursor: pointer;
      position: absolute;

      &:focus {
        outline: none;
      }
    }
  }

  &.horizontal {
    flex-direction: row;

    li {
      margin-bottom: 0;
      margin-left: 15px;

      &:before {
        top: 6px;
        transform: none;
        width: 15px;
        left: 100%;
      }

      &.swiper-pagination-bullet-active {
        &:before {
          width: 50px;
        }
      }

      &:last-child {
        &:before {
          left: auto;
          right: 100%;
          // width: 0;
        }

        &.swiper-pagination-bullet-active {
          margin-left: 50px;

          &:before {
            left: auto;
          }
        }
      }
    }
  }
}

.dot-circle,
.dotstyle-circlegrow {
  ul {
    li {
      transition: all 300ms ease-in-out;

      a {
        overflow: hidden;
        box-shadow: inset 0 0 0 2px white;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        background-color: $primary-color-100;
        z-index: 1;

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          border-radius: 50%;
          background-color: #fff;
          -webkit-transform: scale(0);
          transform: scale(0);
          -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          -webkit-transition: -webkit-transform 0.3s ease;
          transition: transform 0.3s ease;
        }
      }

      &.current,
      &.swiper-pagination-bullet-active {
        a::after {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
      }
    }

    &.horizontal {
      li {

        &.current,
        &.swiper-pagination-bullet-active {
          +li {
            margin-left: 50px;
          }
        }
      }
    }
  }
}

.collections {
  .top-area {
    padding-bottom: 65px;

    @include MQ(M) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    h1 {
      margin: 0;

      @include MQ(M) {
        font-size: 30px;
        line-height: 38px;
      }
    }
  }

  .top-banner {
    max-height: 600px;
    height: inherit;

    &.List {
      min-height: 600px;

      @include MQ(XS) {
        min-height: inherit;
        height: auto;
      }
    }

    @include MQ(XS) {
      max-height: inherit;
      height: auto;
    }

  }

  .navigation-overlay {
    transition: all 300ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $primary-color-100, $alpha: 0.6);
    position: absolute;
    z-index: 2;
  }

  [role='navigation'] {
    @include MQ(S) {
      display: none;
    }
  }

  .navigation {
    position: relative;

    nav {
      position: absolute;
      z-index: 3;
      margin-top: 50px;

      @include MQ(M) {
        margin-top: 20px;
      }

      ul {
        margin-bottom: 5px;
      }
    }

    ul:not(.breadcrumbs) {
      transition: all 300ms ease-out;
      margin: 0;
      padding: 0;
      visibility: hidden;
      opacity: 0;
      height: 0;

      a {
        font-family: $font-museo-sans-700;
        font-size: 38px;
        line-height: 38px;
        color: $white;
      }

      li {
        list-style: none;
        margin-top: 40px;
      }
    }

    .category,
    .category-title {
      cursor: pointer;

      span {
        display: flex;
        align-items: center;
        font-family: $font-museo-sans-700;
        font-size: 38px;
        line-height: 38px;
        color: $primary-color-300;

        i {
          color: $white;
          font-size: 12px;
          margin-left: 30px;
          transition: all 300ms ease-in-out;
        }
      }
    }

    .category-title {
      cursor: default;
    }
  }

  .tabs-wrapper {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 73px;
      margin-top: 10px;
    }
  }

  .slider {
    position: relative;

    .swiper-container {
      display: inline-block;
      width: calc(100% - 160px);
      padding-bottom: 50px;
      margin-left: 80px;
      margin-right: 80px;
      overflow: hidden;

      @include MQ(S) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-top: 40px;
        padding-bottom: 0;
      }
    }

    .swiper-button-next {
      right: 25px;
      outline: 0;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgdmlld0JveD0iMCAwIDE0MS43IDE0MS43IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNDEuNyAxNDEuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjE1LjY1OTU7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPGc+Cgk8bGluZSBjbGFzcz0ic3QwIiB4MT0iMTEwLjYiIHkxPSI3MC44IiB4Mj0iMzAuOSIgeTI9IjEyOS45Ii8+Cgk8bGluZSBjbGFzcz0ic3QwIiB4MT0iMzAuOSIgeTE9IjExLjgiIHgyPSIxMTAuNiIgeTI9IjcwLjgiLz4KPC9nPgo8L3N2Zz4K');

      &.swiper-button-disabled {
        opacity: 0;
      }

      @include MQ(S) {
        display: none;
      }
    }

    .swiper-button-prev {
      left: 25px;
      outline: 0;
      background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIyLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhcGFfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgdmlld0JveD0iMCAwIDE0MS43IDE0MS43IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxNDEuNyAxNDEuNzsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjE1LjY1OTU7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPGc+Cgk8bGluZSBjbGFzcz0ic3QwIiB4MT0iMzAuOSIgeTE9IjcwLjgiIHgyPSIxMTAuNiIgeTI9IjExLjgiLz4KCTxsaW5lIGNsYXNzPSJzdDAiIHgxPSIxMTAuNiIgeTE9IjEyOS45IiB4Mj0iMzAuOSIgeTI9IjcwLjgiLz4KPC9nPgo8L3N2Zz4K');

      &.swiper-button-disabled {
        opacity: 0;
      }

      @include MQ(S) {
        display: none;
      }
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 450px;
      height: 675px;
      opacity: 1;
      box-shadow: 0px 10px 15px 1.12px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      transition: all 300ms ease-in-out;

      @include MQ(M) {
        width: 350px;
        height: 375px;
      }

      @include MQ(S) {
        width: 250px;
        height: 305px;
      }
    }
  }

  // Genre swiper
  .swiper-top {
    margin-top: 0;
    margin-bottom: 20px;

    .swiper-container {
      max-width: 100%;

      .swiper-slide {
        width: 100%;
        opacity: 1;
        margin: 0;
        box-shadow: none;
        height: auto;
        text-align: unset;
        color: $white;
        align-items: flex-start;
        padding-right: 0;

        .top-banner {
          width: 100%;
          min-height: auto;

          h1 {
            transition: all 300ms ease-in-out;
            margin-top: 216px;
            margin-bottom: 10px;
            // font-size: 60px;
            font-size: $global-font-size + 167%;
            font-family: $font-museo-sans-700;
            max-width: 700px;
            // overflow: hidden;
            // display: -webkit-box;
            // -webkit-line-clamp: 3;
            // -webkit-box-orient: vertical;

            /* FIXES FOR IE 11 */
            @media screen and (-ms-high-contrast: active),
            (-ms-high-contrast: none) {
              max-height: calc(1.09em * 3);
            }

            @include MQ(M) {
              margin-top: 140px;
              font-size: 30px;
              line-height: 34px;
            }

            @include MQ(XS) {
              margin-top: 20px;
            }

            @media only screen and (min-device-width: 320px) and (max-device-width: 750px) and (orientation: landscape) {
              // margin-top: 120px;
            }

            +p {
              margin-top: 10px;
              font-size: 16px;
              line-height: 26px;
              max-width: 520px;
              // max-height: 130px;
              // overflow: hidden;
              // display: -webkit-box;
              // -webkit-line-clamp: 3;
              // -webkit-box-orient: vertical;

              +.notes {
                font-size: 14px;
                line-height: 22px;
                opacity: 0.5;
                margin-top: 14px;

                +.actions {
                  margin-top: 38px;
                }
              }
            }
          }

          p {
            margin-top: 10px;
            font-size: 16px;
            line-height: 26px;
            max-width: 520px;
            // min-height: 105px;
            // overflow: hidden;
            // display: -webkit-box;
            // -webkit-line-clamp: 4;
            // -webkit-box-orient: vertical;

            @include MQ(XM) {
              max-width: 60vw;
            }

            @include MQ(S) {
              font-size: 14px;
              line-height: 24px;
              margin-top: 0;
              min-height: auto;
              max-width: initial;
              -webkit-line-clamp: inherit;
            }

            .notes {
              font-size: 14px;
              line-height: 22px;
              opacity: 0.5;
              margin-top: 14px;

              .actions {
                margin-top: 38px;
              }
            }
          }
        }

        .wrapper {
          transition: all 300ms ease-in-out;
          max-height: unset;

          @media screen and (-ms-high-contrast: active),
          (-ms-high-contrast: none) {
            text-align: left;
          }
        }

        .actions {
          // transition: all 300ms ease-in-out;
          // margin-top: 80px;
          // margin-bottom: 0;

          // @media only screen and (max-width: 1380px) and (min-width: 1200px) {
          //   margin-top: 20px;
          //   margin-bottom: 20px;
          // }

          // @include MQ(SM) {
          //   margin-top: 30px;
          //   margin-bottom: 0;
          //   position: relative;
          //   top: -15px;
          // }

          a {
            &.play-now {
              @include MQ(M) {
                width: auto;

                .play-animation {
                  img {
                    top: 0;
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .swiper-pagination {
      display: flex;
      justify-content: flex-end;
      margin-top: -25px;
      transition: all 300ms ease-in-out;

      // @include MQ(M) {
      //   margin-top: -50px;
      // }

      .swiper-pagination-bullet {
        background: transparent;
        opacity: 1;
      }
    }
  }

  .swiper {
    // &[data-name-component='HomeTabsVue'] {
    //   .swiper-container {
    //     .swiper-slide {
    //       //       height: 600px;

    //       //       /* Landscape Mobile */
    //       //       @media only screen and (min-device-width: 320px) and (max-device-width: 750px) and (orientation: landscape) {
    //       //         height: 400px;
    //       //       }

    //       //       // landscape iPad
    //       //       @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    //       //         height: 450px;
    //       //       }

    //       //       @media only screen and (max-width: 1380px) and (min-width: 1200px) {
    //       //         height: 500px;
    //       //       }

    //       //       .top-banner {
    //       //         height: 100%;
    //       //       }
    //       img {
    //         height: 21vw;
    //         width: 100%;
    //         max-height: 230px;

    //         @include MQ(M) {
    //           height: 22vw;
    //         }

    //         @include MQ(S) {
    //           height: 39vw;
    //           max-height: 220px;
    //         }
    //       }
    //     }
    //   }
    // }

    &.episodes {
      overflow: hidden;

      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            .card-content-inside {
              .top-animation {
                align-items: end;
              }

              .actions {
                a.play-now {
                  margin-right: 0;
                }

                a.watchlist {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }

    .swiper-container {
      .swiper-slide {
        .box {
          .card {
            .card-content {
              .card-content-inside {
                .description {
                  .actions {
                    justify-content: flex-start;

                    a {
                      &.play-now {}

                      &.watchlist {
                        margin-left: 10px;
                      }

                      &.discover {
                        margin-left: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.genre {
    .navigation-overlay {
      visibility: inherit;
      opacity: 1;
    }

    .navigation {
      ul:not(.breadcrumbs) {
        height: auto;
        visibility: inherit;
        opacity: 1;
      }

      .category span i {
        transform: rotate(180deg);
      }
    }

    .swiper-top {

      .wrapper,
      .actions,
      .swiper-pagination {
        opacity: 0;
      }
    }
  }

  &.programmes,
  &.Watchlist-page {
    [role='navigation'] {
      display: block;
    }
  }

  &.genre-page {

    // .top-banner {
    //   .content {
    //     /* Landscape Mobile */
    //     @media only screen and (min-device-width: 320px) and (max-device-width: 750px) and (orientation: landscape) {
    //       height: 100vh;
    //     }
    //   }
    // }
    [role='navigation'] {
      display: block;
    }

    .collection {
      .item.columns {
        &.small-11 {
          @include MQ(S) {
            height: 193px;
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  &.now {
    .swiper-top {
      .swiper-container {
        .swiper-slide {
          height: 600px;

          .top-banner {
            .content {
              padding-bottom: 38px;

              @include MQ(M) {
                padding-bottom: 0;
              }
            }

            // h1 {
            //   margin-top: 120px;
            // }
          }
        }
      }
    }

    .collection {
      .wrapper-items {
        // .item.columns.small-11 {
        //   @include MQ(M) {
        //     flex: 0 0 100%;
        //     max-width: 100%;
        //   }
        // }

        .card {
          .card-content {
            .card-content-inside {
              .description {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  // Edit page watchlist
  &.watchlist-empty--visible {
    .top-area {

      h1,
      p {
        display: none;
      }
    }
  }

  .alphabeth {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;

    @include MQ(M) {
      position: absolute;
      right: 10px;
      flex-direction: column;
      margin-top: 0;
      z-index: 4;
    }

    @include MQ(S) {
      position: absolute;
      right: 15px;
      flex-direction: column;
      margin-top: 0;
      z-index: 4;
    }

    &.primary-state {

      a,
      &.active {
        opacity: 1;
      }

      .letter {
        &.inactive {
          a {
            pointer-events: none;
            opacity: 0.2;
          }
        }
      }
    }

    .letter {
      &.inactive {
        a {
          pointer-events: none;
          opacity: 0.2;
        }
      }
    }

    a {
      color: $white;
      opacity: 1;
      transition: all 300ms ease-in-out;
      font-size: 14px;
      line-height: 38px;
      padding: 1em;
      margin: -1em;
      opacity: 0.4;

      &.active {
        opacity: 1;
      }

      @include MQ(M) {
        text-align: center;
        display: block;
      }

      &:hover,
      &.active {
        opacity: 1;
      }
    }

    .back {
      opacity: 0.5;

      i {
        font-size: 12px;
      }

      a {
        cursor: default;

        &:hover {
          opacity: 0.5;
        }

        &.active {
          cursor: pointer;
          opacity: 1;
          color: $primary-color-300;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  .collection {
    margin-top: 0;
    margin-bottom: 50px;

    .row.wrapper-items {
      margin-left: auto;
      margin-right: auto;
      width: 780px;

      @include MQ(L) {
        justify-content: center;
        width: 100%;
      }

      @media only screen and (min-width: 1200px) {
        width: 100%;
        justify-content: space-around;
      }

      @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        // max-width: 1170px;
      }

      .columns {
        width: 425px;
        flex: none;
        max-width: inherit;

        @media only screen and (min-width: 1024px) and (max-width: 1366px) {
          padding-right: 10px;
          padding-left: 10px;
          width: 390px;
        }

        @media only screen and (min-width: 1292px) {
          &:last-of-type {
            margin-right: auto;
          }
        }

        // @include MQ(ML) {
        //   width: 425px;
        // }

        @include MQ(XM) {
          width: 372px;
        }

        .card .image img {
          width: 100%;
          height: 220px;

          @media only screen and (min-width: 1024px) and (max-width: 1366px) {
            height: 207px;
          }

          @include MQ(XM) {
            height: 192px;
          }
        }
      }

      @include MQ(XS) {
        justify-content: start;
      }
    }

    &[data-name-component='GridProgramme'] {
      .row.wrapper-items {

        // justify-content: center;
        .columns {
          // width: 375px;
          flex: none;
          max-width: inherit;

          // @media only screen and (min-width: 1292px) {
          //   &:last-of-type {
          //     margin-right: auto;
          //   }
          // }

          // @include MQ(ML) {
          //   width: 425px;
          // }

          @include MQ(XM) {
            width: 340px;
          }

          .card .image img {
            width: 100%;
            // height: 196px;

            // @include MQ(ML) {
            //   height: 225px;
            // }

            @include MQ(XM) {
              height: 173px;
            }
          }
        }

        @include MQ(XS) {
          justify-content: start;
        }
      }

      @include MQ(XM) {
        min-height: 1120px;
      }
    }

    @include MQ(S) {
      min-height: 1060px;
    }

    .row {
      // @include MQ(XM) {
      //   position: relative;

      //   &.md-layout {
      //     .columns {
      //       flex: 0 0 50%;
      //       max-width: 50%;
      //       margin-bottom: 10px;
      //     }
      //   }
      // }

      // @include MQ(S) {
      //   position: relative;

      //   &.md-layout {
      //     .columns {
      //       flex: 0 0 91.66667%;
      //       max-width: 91.66667%;
      //       margin-bottom: 10px;
      //     }
      //   }
      // }
    }

    h2 {
      @include MQ(M) {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .item.columns {
      max-height: 220px;
      margin-bottom: 30px;

      @include MQ(M) {
        // height: 196px;
        margin-bottom: 10px;
      }

      .card {
        box-shadow: 0 10px 15px 10px rgba(0, 0, 0, 0.3);

        .image {
          position: relative;
          overflow: hidden;
          border-radius: 4px;

          img {
            // height: 21vw;
            width: 100%;
            height: 219px;
            // max-height: 230px;

            @include MQ(ML) {
              height: 225px;
            }

            @include MQ(XM) {
              height: 193px;
            }

            // @include MQ(S) {
            //   height: 39vw;
            //   max-height: 220px;
            // }
          }

          &::after {
            display: none;
            position: absolute;
            bottom: 0;
            content: '';
            width: 100%;
            height: 40%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
          }
        }

        .card-content {
          height: 100%;

          @include MQ(M) {
            padding-top: 10px;
            padding-bottom: 15px;
          }

          .card-content-inside {
            @include MQ(M) {
              height: 100%;
            }

            .description {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;

              .top-animation {
                align-items: center;

                .inner-content {
                  .actions {
                    margin: 0;

                    a {
                      justify-content: center;

                      @include MQ(S) {
                        height: 50px;
                      }

                      &.play-now {
                        flex-direction: row;
                        align-items: center;
                        margin-right: 10px;
                        height: 60px;

                        @include MQ(M) {
                          height: 50px;
                          margin: 0 15px 0 0;
                        }

                        span {
                          &.play-animation {
                            max-width: 105px;
                            margin-right: 0;
                            margin-top: 0;

                            @include MQ(M) {
                              margin: 0;
                              left: 0;
                            }

                            img {
                              top: 0;

                              @include MQ(M) {
                                margin: 0;
                              }
                            }

                            >div {
                              max-width: 85px;
                              height: 85px;
                            }

                            +span {
                              display: none;
                            }
                          }
                        }
                      }

                      &.watchlist {
                        color: $white;
                        margin-left: 0;
                        margin-right: 0;
                      }

                      &.discover {
                        margin-left: 0;
                        margin-right: 0;
                        color: $white;
                      }
                    }

                    span+span {
                      font-size: 14px;
                    }

                    .dots {
                      width: 34px;
                      height: 34px;
                      margin-right: 25px;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      &+span {
                        display: none;
                      }
                    }

                    i {
                      font-size: 35px;
                      margin-right: 25px;

                      @include MQ(M) {
                        font-size: 32px;
                        line-height: 0;
                        margin-right: 15px;
                      }

                      &+span {
                        display: none;
                      }

                      &.icon-tick {
                        font-size: 12px;
                        width: 35px;
                        height: 35px;
                      }
                    }
                  }
                }
              }

              .bottom {
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;

                .title {
                  font-family: $font-museo-sans-500;
                  font-size: 16px;
                  line-height: 16px;
                  margin-bottom: 5px;
                  -webkit-line-clamp: 2;

                  @include MQ(S) {
                    -webkit-line-clamp: 2;
                  }

                  @media screen and (-ms-high-contrast: active),
                  (-ms-high-contrast: none) {
                    max-height: calc(1.3em * 1);
                  }
                }

                .description {
                  font-family: $font-museo-sans-300;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 5;
                  padding-right: 20px;

                  @include MQ(M) {
                    -webkit-line-clamp: 3;
                    height: auto;
                  }

                  @media screen and (-ms-high-contrast: active),
                  (-ms-high-contrast: none) {
                    max-height: calc(1.35em * 5);
                  }
                }

                button.close {
                  display: none;

                  &:focus {
                    outline: none;
                  }

                  i.icon-close {
                    outline: none;
                    font-size: 40px;

                    &::before {
                      color: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &.watching {
        .card {
          .card-content {
            .actions {
              .play-now {
                .play-animation+span {
                  display: inherit;

                  @include MQ(S) {
                    margin-right: 0;
                  }

                  div {
                    padding-right: 5px;

                    @include MQ(XL) {
                      width: 70px;
                      padding-right: 0;
                    }
                  }
                }
              }
            }

            .season {

              /* FIXES FOR IE 11 */
              @media screen and (-ms-high-contrast: active),
              (-ms-high-contrast: none) {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .top-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      @include MQ(ML) {}

      @include MQ(XS) {
        flex-direction: column;
        align-items: flex-start;
      }

      h2 {
        // margin-bottom: 20px;
      }

      .filters {
        margin-left: auto;
        display: flex;
        align-items: center;

        @include MQ(M) {
          margin-left: 0;

          select {
            option {
              background-color: $primary-color-100;
              color: $white;

              &:checked {
                background-color: $primary-color-100;
                outline: none;
              }
            }
          }
        }

        label {
          display: flex;
          align-items: center;

          &:last-of-type {
            margin-left: 100px;

            @include MQ(M) {
              margin-left: 20px;
            }

            @include MQ(XS) {
              margin-left: 0;
            }
          }
        }
      }
    }

    .wrapper-items[data-name-component='GridVue'] {
      .item {
        .card {
          .card-content {
            .card-content-inside {
              .top-animation {
                align-items: center;

                .actions {
                  margin-top: 0;
                  margin-bottom: 0;

                  a {
                    &.play-now {
                      margin-right: 10px;

                      span {
                        display: none;

                        &.play-animation {
                          display: block;
                        }
                      }

                      .play-animation {
                        margin-top: 0;

                        @include MQ(M) {
                          left: 0;
                        }

                        img {
                          top: 0;
                          margin-left: 10px;

                          @include MQ(L) {
                            margin-left: 0;
                          }
                        }
                      }
                    }

                    &.discover {
                      i {
                        font-size: 36px;
                        color: $white;
                        margin-top: -1px;

                        &.icon-discover-more {
                          @include MQ(XM) {
                            position: relative;
                            top: 0;
                            transform: scale(0.9);
                          }

                          @include MQ(S) {
                            position: relative;
                            top: 0;
                            transform: scale(0.9);
                          }
                        }
                      }

                      span {
                        display: none;
                      }

                      @include MQ(M) {
                        color: $white;
                        line-height: 48px;
                      }
                    }

                    &.watchlist {
                      margin-right: 10px;
                      line-height: 35px;

                      @include MQ(XM) {
                        line-height: 48px;
                      }

                      @include MQ(M) {
                        margin-right: 15px;
                      }

                      i {
                        font-size: 35px;
                        color: $white;

                        &::before {
                          font-size: 12px;
                        }

                        &.icon-wishlist {
                          font-size: 12px;
                          border-radius: 50%;
                          width: 36px;
                          height: 36px;
                          display: flex;
                          align-items: center;
                          justify-content: center;

                          &::before {
                            font-size: 40px;
                          }

                          @include MQ(M) {
                            position: relative;
                            top: 9px;
                            transform: scale(0.85);
                          }
                        }

                        &.icon-tick {
                          font-size: 12px;
                          border: 0.1rem solid #fff;
                          border-radius: 50%;
                          width: 36px;
                          height: 36px;
                          display: flex;
                          align-items: center;
                          justify-content: center;

                          @include MQ(M) {
                            position: relative;
                            top: 9px;
                            transform: scale(0.85);
                          }
                        }
                      }

                      .dots {
                        width: 36px;
                        height: 36px;

                        @include MQ(M) {
                          width: 32px;
                          height: 32px;
                          top: 9px;
                          display: flex;
                          justify-content: center;
                          align-items: center;
                        }
                      }

                      span {
                        display: none;
                      }
                    }
                  }
                }
              }

              .bottom {
                .season {
                  .title {
                    font-family: $font-museo-sans-500;
                    font-size: 16px;
                    line-height: 16px;
                    margin-bottom: 5px;
                    -webkit-line-clamp: 2;

                    @include MQ(M) {
                      -webkit-line-clamp: 2;
                    }
                  }

                  .description {
                    font-family: $font-museo-sans-300;
                    font-size: 13px;
                    line-height: 18px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 5;

                    @include MQ(M) {
                      -webkit-line-clamp: 4;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .animation.load-more {
    visibility: inherit;
    opacity: 1;

    &.hidden {
      visibility: hidden;
      opacity: 0;
    }
  }

  &.people {
    .top-area {
      position: relative;
      margin-bottom: 70px;
      padding: 73px 0 77px;
      min-height: 217px;

      @include linear-gradient(180deg, $primary-color-100, #202634);

      .person {

        h1,
        h2 {
          margin-bottom: 0;
        }

        .name {
          display: flex;
          flex-direction: row;
          align-items: baseline;

          h2 {
            font-size: 24px;
            line-height: 24px;
            font-family: $font-museo-sans-700;
          }

          img {
            width: 24px;
            height: 24px;
            margin-right: 15px;
          }
        }

        .surname {
          h1 {
            font-size: 40px;
            line-height: 40px;
            font-family: $font-museo-sans-700;
          }
        }
      }
    }

    h2 {
      margin-bottom: 26px;
    }

    .collection {
      .wrapper-items {
        margin-bottom: 60px;
      }
    }
  }

  .Box-watchlist-empty {
    width: 100%;
    background: linear-gradient(0deg, #171b23, #192131);
    padding: 100px 0 50px;

    .watchlist-empty {
      display: flex;

      @include MQ(M) {
        flex-direction: column;
      }

      .info-box {
        width: 50%;
        z-index: 1;

        @include MQ(M) {
          margin-top: 40px;
          width: 100%;
        }

        h2 {
          font-family: $font-museo-sans-500;
          font-size: 34px;
          line-height: 38px;
          margin-bottom: 30px;

          @include MQ(M) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 30px;
          }
        }

        p {
          font-family: $font-museo-sans-300;
          font-size: 18px;
          line-height: 28px;
          max-width: 580px;

          i.icon-wishlist {
            font-size: 30px;
            padding-left: 10px;
            padding-right: 3px;
            position: relative;
            top: 3px;
          }

          b {
            font-size: 14px;
            padding-right: 10px;
          }

          &.pad-b {
            margin-bottom: 30px;
          }
        }
      }

      .cta-box {
        width: 50%;
        display: flex;
        align-items: center;
        z-index: 1;

        @include MQ(M) {
          width: 100%;
        }

        .button {
          margin: 70px auto 0;
          min-width: 320px;

          @include MQ(M) {
            margin: 60px auto 0;
          }
        }
      }
    }
  }

  &.Watchlist-page {
    .top-area {
      padding: 60px 0;

      @include MQ(M) {
        padding: 40px 0 80px;
      }

      nav {
        p {
          max-width: 600px;

          @include MQ(M) {
            font-size: 16px;
          }
        }
      }
    }

    .collection {
      min-height: auto;

      .row.md-layout {
        justify-content: center;

        .columns {
          width: 375px;
          flex: none;
          max-width: inherit;

          @include MQ(ML) {
            width: 425px;
          }
        }
      }

      .item.columns {
        .card {
          .card-content {
            .card-content-inside {
              @include MQ(M) {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              }

              .top-animation {
                align-items: center;

                @include MQ(L) {
                  height: 60px;
                  justify-content: space-between;
                }
              }

              .actions {
                margin: 0;

                a {
                  flex-direction: row;
                  align-items: center;
                }

                a.play-now {
                  .play-animation {
                    margin-top: 0;

                    img {
                      top: 0;
                    }
                  }

                  @include MQ(L) {
                    justify-content: flex-start;
                  }

                  @include MQ(M) {
                    min-width: 200px;
                  }
                }
              }

              ul.tags {
                @include MQ(L) {
                  margin: 0;
                }
              }

              .season {
                @include MQ(M) {
                  margin-bottom: 0;
                }

                .title {
                  font-family: $font-museo-sans-500;
                  font-size: 16px;
                  line-height: 16px;
                  margin-bottom: 5px;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                }

                .description {
                  margin-right: 5px;
                  font-size: 13px;
                  line-height: 18px;
                  font-family: $font-museo-sans-300;
                  -webkit-line-clamp: 4;

                  @include MQ(M) {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                  }

                  @include MQ(XS) {
                    -webkit-line-clamp: 2;
                  }
                }
              }

              .bottom {
                button.close {
                  display: block;
                  color: #fff;
                  font-size: 40px;
                  line-height: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  &.new-titles {
    .navigation {
      nav {
        margin-top: 80px;

        @include MQ(M) {
          margin-top: 20px;
        }
      }
    }

    .swiper.swiper-top {
      .swiper-container {
        .swiper-slide {
          .top-banner {
            h1 {
              margin-top: 130px;
              min-height: 50px;
              max-width: 700px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;

              /* FIXES FOR IE 11 */
              @media screen and (-ms-high-contrast: active),
              (-ms-high-contrast: none) {
                max-height: calc(1.1em * 3);
              }

              // @include MQ(M) {
              //   font-size: 30px;
              //   min-height: auto;
              //   margin-top: auto;
              // }
              @include MQ(M) {
                margin-top: 120px;
                font-size: 30px;
                line-height: 34px;
              }

              @include MQ(XS) {
                margin-top: 20px;
              }
            }

            p {
              font-size: 16px;
              line-height: 24px;
              max-width: 520px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;

              /* FIXES FOR IE 11 */
              @media screen and (-ms-high-contrast: active),
              (-ms-high-contrast: none) {
                max-height: calc(1.63em * 2);
              }

              @include MQ(M) {
                font-size: 14px;
                line-height: 24px;
              }
            }
          }
        }
      }
    }

    .swiper.new-episodes {
      @include MQ(M) {
        margin-bottom: 30px;
      }
    }

    .no-gradient {
      .swiper {
        @include MQ(M) {
          margin-top: 0;
          margin-bottom: 40px;
        }
      }
    }

    .collection {
      // .wrapper-items {
      //   .item.columns.small-11 {
      //     @include MQ(M) {
      //       flex: 0 0 100%;
      //       max-width: 100%;
      //     }
      //   }
      // }

      .filters {
        @include MQ(M) {
          margin: 0;

          label:last-of-type {
            margin-left: 0 !important;
          }
        }
      }
    }
  }

  .flex-grid {
    @include MQ(M) {
      .flex-grid-mother {
        flex-direction: column;
      }
    }

    .flex-grid-container>.flex-grid-child {
      margin-bottom: 40px;
      margin-top: 32px;

      @include MQ(M) {
        margin: 10px 0 0 0;
        max-width: 100%;
        width: 100%;
      }

      .box {
        .card {
          .content {
            display: none !important;
            padding: 10px 10px 11px 18px;
          }

          // Fix for Home
          // .card-content {
          //   .card-content-inside {
          //     height: 100%;
          //   }
          // }

          .title {
            font-size: 30px;
            line-height: 38px;
            font-family: $font-museo-sans-700;
            display: flex;
            align-items: center;

            @include MQ(M) {
              font-size: 18px;
              line-height: 26px;
            }

            i {
              font-size: 75px;
              margin-right: 25px;
            }
          }

          .top-animation {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
          }

          a {
            color: $white;
            cursor: pointer;
            display: flex;
            align-items: center;
          }

          .description {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            height: 100%;

            .top {
              display: flex;
              align-items: center;
              margin-bottom: 5px;

              >a {
                font-size: 32px;
                line-height: 38px;
                font-family: $font-museo-sans-700;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;

                @include MQ(M) {
                  font-size: 22px;
                  line-height: 28px;

                  &:last-of-type {
                    font-size: 22px;
                    line-height: 28px;
                  }
                }
              }

              i {
                margin-right: 28px;
                font-size: 75px;
              }
            }
          }

          .bottom {
            margin-bottom: 22px;
            margin-left: 15px;

            @include MQ(XM) {
              margin: 0;

              a {
                &.play-now {
                  span.play-animation {
                    margin-left: 0;
                    max-width: 50px;
                    margin-right: 10px;
                  }

                  span:nth-child(2) {
                    display: none;
                  }
                }

                &.discover {
                  i {
                    font-size: 30px;
                  }
                }
              }
            }

            // landscape iPad
            @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
              margin: 0;

              a {
                &.play-now {
                  span.play-animation {
                    max-width: 50px;
                    margin-left: 0;
                    margin-right: 10px;
                  }
                }
              }
            }

            @include MQ(S) {
              margin: 0;

              a {
                &.play-now {
                  span.play-animation {
                    max-width: 50px;
                    margin-right: 0;
                  }

                  span:nth-child(2) {
                    display: none;
                  }
                }

                &.watchlist {
                  margin: 0 10px;
                }

                &.discover {
                  i {
                    font-size: 30px;
                  }
                }
              }
            }
          }

          .inner-content {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .season {
              width: 65%;
              margin-top: 15px;

              @include MQ(M) {
                width: 100%;
                margin-top: 10px;
              }

              a {
                flex-direction: column;
                align-items: flex-start;
              }

              .title {
                font-size: 16px;
                font-family: $font-museo-sans-500;
                line-height: 24px;
                text-transform: uppercase;
                margin-bottom: 4px;

                @include MQ(M) {
                  font-size: 12px;
                  line-height: 16px;
                }
              }

              .description {
                font-size: 16px;
                font-family: $font-museo-sans-500;
                line-height: 30px;
                margin-bottom: 30px;

                @include MQ(M) {
                  font-size: 14px;
                  line-height: 20px;
                  width: 100%;
                  overflow: hidden;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  margin-bottom: 0;
                }
              }

              .other {
                @include MQ(M) {
                  display: none;
                }

                .list {
                  font-size: 14px;
                  line-height: 24px;
                  font-family: $font-museo-sans-300;

                  b {
                    font-weight: normal;
                    font-family: $font-museo-sans-500;
                  }
                }
              }
            }

            ul.tags {
              @include MQ(M) {
                display: none;
              }
            }
          }
        }
      }

      &:last-of-type {
        @include MQ(XM) {
          margin-top: 15px;

          .flex-grid-child {
            margin-left: 0;
            margin-right: 15px;

            &.flex-grid-column {
              flex-direction: row;
              margin: 0;

              .flex-grid-child {
                width: calc(100% / 3);
                margin: 0 5px;
              }
            }
          }
        }

        // landscape iPad
        @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
          margin-top: 15px;

          .flex-grid-child {
            margin-left: 0;
            margin-right: 15px;

            &.flex-grid-column {
              flex-direction: row;
              margin: 0;

              .flex-grid-child {
                width: calc(100% / 3);
                margin: 0 5px;
              }
            }
          }
        }

        @include MQ(S) {
          margin-top: 15px;

          .flex-grid-child {
            margin-left: 0;
            margin-right: 15px;

            &.flex-grid-column {
              flex-direction: column;
              margin-right: 0;
              margin-bottom: 20px;

              .flex-grid-child {
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }

        .box .card {
          .title {
            font-size: 22px;
            line-height: 26px;

            i {
              font-size: 42px;
              margin-right: 20px;
            }
          }

          // Fix for Home
          // .card-content {
          //   .card-content-inside {
          //     height: 100%;
          //   }
          // }

          .content {
            padding-left: 15px;
            padding-right: 15px;
          }

          .description {
            .top {
              >a {
                font-size: 16px;
                line-height: 1;
              }

              i {
                font-size: 40px;
                margin-right: 20px;
                margin-bottom: 5px;
              }
            }

            .actions {
              height: 25px;
              margin: 0;

              .play-animation {
                max-width: 50px;
                margin-left: -15px;
                margin-right: 10px;
                margin-top: 2px;

                @include MQ(XM) {
                  max-width: 50px;
                  margin-left: -10px;
                  margin-right: 0;
                  margin-top: 0;
                  position: relative;
                  top: -2px;
                }

                // landscape iPad
                @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
                  max-width: 40px;
                  margin-left: -10px;
                  margin-right: 0;
                  position: relative;
                  top: -2px;
                }

                @include MQ(S) {
                  max-width: 50px;
                  margin-left: -10px;
                  margin-right: 0;
                  transform: scale(0.9);
                  position: relative;
                  top: -2px;
                }

                >div {
                  width: auto !important;
                  height: auto !important;
                }
              }

              i {
                font-size: 30px;
                margin-top: -4px;
                margin-right: 0;

                &+span {
                  display: none;
                }

                &.icon-tick {
                  font-size: 12px;
                  width: 30px;
                  height: 30px;
                }
              }

              .dots {
                position: relative;
                text-align: center;
                margin-right: 0;
                border: 0.1rem solid #fff;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                padding-top: 0;

                &+span {
                  display: none;
                }
              }

              span+span {
                display: none;
              }

              a {
                margin-right: 0;

                &.watchlist {
                  margin: 0 0 0 10px;

                  @include MQ(XM) {
                    margin: 0 10px;
                  }

                  // landscape iPad
                  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
                    margin: 0 10px;
                  }
                }

                &.discover {
                  margin-left: 10px;

                  @include MQ(M) {
                    margin-left: 0;
                  }
                }
              }
            }
          }

          .inner-content {
            .season {
              margin: 0;
              width: 100%;
              height: 100%;

              @include MQ(XM) {
                margin-top: 0;
              }

              @include MQ(S) {
                margin-top: 10px;
              }

              .title {
                display: none;
              }

              .description {
                font-size: 13px;
                line-height: 18px;
                width: 100%;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                margin-bottom: 0;

                @include MQ(XM) {
                  -webkit-line-clamp: 2;
                }

                @include MQ(S) {
                  -webkit-line-clamp: 4;
                }

                /* FIXES FOR IE 11 */
                @media screen and (-ms-high-contrast: active),
                (-ms-high-contrast: none) {
                  max-height: calc(1.12em * 4);
                }
              }

              .other {
                display: none;
              }
            }

            .tags {
              display: none;
            }
          }
        }
      }
    }
  }
}
