@charset 'utf-8';
@import 'mixins/helpers';
@import 'settings';
@import 'vendor/pinlogin';

.connect {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 500px;

  // Fix small resolutions
  @include MQ(M) {
    margin-top: 90px;
    margin-bottom: 40px;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 500px;
    height: 500px;
  }

  h1 {
    font-family: $font-museo-sans-700;
    font-size: 38px;
    line-height: 1;
    text-align: center;
    margin: 0 0 10px;

    @include MQ(M) {
      font-size: 28px;
      line-height: 36px;
      padding: 0 0 10px;
    }
  }

  p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;

    @include MQ(M) {
      font-size: 16px;
      padding: 0 10px;
    }
  }

  .connect-box {
    margin: 80px auto 0;
    width: auto;

    @include MQ(M) {
      margin: 50px auto 0;
      width: 100%;
    }

    form {
      .inner {
        display: flex;
        justify-content: center;
        flex-direction: column;

        #loginpin {
          min-height: 90px;

          @include MQ(S) {
            min-height: 60px;
          }

          &.error {
            .pinlogin {
              input {
                border-bottom: 4px solid #d2525d;
              }
            }
          }
        }

        @include MQ(S) {
          width: 100%;
          min-width: 100%;
          min-height: auto;
        }

        .alert-txt {
          text-align: center;
          font-family: $font-museo-sans-500;
          font-size: 16px;
          line-height: 22px;
          color: #d2525d;
          position: relative;
          top: 40px;

          @include MQ(M) {
            margin-bottom: 20px;
          }
        }
      }

      button.button {
        min-width: 290px;
        display: block;
        background-color: #2d6eff;
        color: $white;
        margin: 100px auto 0;
        transition: all .25s ease-out;

        @include MQ(M) {
          margin: 40px auto 0;
        }

        &:disabled {
          &:hover {
            background-color: #2d6eff;
          }
        }

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: #004fff;
        }
      }
    }

    .pinlogin {
      display: flex;
      justify-content: center;
      flex-direction: row;

      input {
        font-family: $font-museo-sans-700;
        font-size: 39px;
        background-color: #383f50;
        color: $white;
        border: none;
        border-radius: 8px;
        height: 90px;
        width: 90px;
        margin: 0 20px;

        @include MQ(M) {
          font-size: 28px;
          margin: 0 5px;
          width: 40px;
          height: 60px;
        }

        &:focus {
          outline: none;
        }

        /* Change Autocomplete styles in Chrome*/
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
          border: none;
          -webkit-text-fill-color: #fff;
          -webkit-box-shadow: 0 0 0px 1000px #383f50 inset;
          transition: background-color 5000s ease-in-out 0s;
        }
      }
    }
  }
}
