@charset 'utf-8';
@import 'mixins/helpers';
@import 'mixins/gradient';
@import 'settings';

.main-content.policy {
  .box {
    padding: 50px 30px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #e7e8e9;
    position: relative;
    align-items: center;
    margin: 30px auto 40px;

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      left: 0;
      top: 0;
      background-color: $primary-color-100;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    h3 {
      color: $white !important;

      +p {
        color: $primary-color-300 !important;
        padding-left: 0 !important;
        font-size: 25px !important;

        &:before {
          content: '_ ';
        }
      }
    }

    div {
      position: relative;
      z-index: 1;
      flex: 1;

      >a {
        margin: 0 auto;
        display: table;
      }
    }

    p {
      margin-bottom: 0;
      font-size: 16px !important;
      line-height: 24px;
      color: $primary-color-100;
      font-family: $font-museo-sans-500 !important;
      margin-left: 10px;
    }
  }

  .top-area {
    padding-top: 50px;

    // especial resolution MAC13"
    @media only screen and (max-width: 1300px) and (min-width: 1200px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    @include MQ(S) {
      padding-top: 20px;
      padding-bottom: 40px;
    }

    h1 {
      margin-bottom: 20px;
      line-height: 1;

      @media only screen and (max-width: 1300px) and (min-width: 1200px) {
        font-size: 32px;
      }

      @include MQ(XM) {
        font-size: 30px;
      }

      @include MQ(S) {
        font-size: 24px;
      }
    }

    p {
      font-size: 20px;
      line-height: 1;
      font-family: $font-museo-sans-300;
      max-width: 100%;

      @media only screen and (max-width: 1300px) and (min-width: 1200px) {
        font-size: 19px;
      }

      @include MQ(XM) {
        font-size: 18px;
      }

      @include MQ(S) {
        font-size: 16px;
      }

      em {
        font-family: $font-museo-sans-500;
        display: block;
        font-size: 34px;
        line-height: 1;
        margin-bottom: 10px;

        @media only screen and (max-width: 1300px) and (min-width: 1200px) {
          font-size: 30px;
        }

        @include MQ(XM) {
          font-size: 28px;
        }

        @include MQ(S) {
          font-size: 20px;
        }
      }

      &.pad-less {
        margin-top: 10px;
      }

      a {
        color: $primary-color-300;
        text-decoration: underline;
        font-family: $font-museo-sans-300;
      }
    }
  }

  >.content {
    .row {
      .columns {
        a {
          color: $primary-color-300;
          font-family: $font-museo-sans-500;
          text-decoration: underline;

          &.button {
            color: $white;
            text-decoration: none;
          }
        }

        .spacer {
          margin-top: 50px;
        }

        h2 {
          position: relative;
          z-index: 2;
          font-size: 24px;
          line-height: 38px;
          color: $primary-color-100;
          font-family: $font-museo-sans-700;
          display: flex;
          flex-direction: row-reverse;
          align-items: baseline;
          margin-top: 50px;

          @include MQ(S) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 10px;
          }

          &:before {
            content: '';
            height: 1px;
            flex: 1;
            background-color: $primary-color-100;
            margin-left: 40px;
          }

          +p {
            padding-left: 30px;
          }
        }

        h3 {
          color: $primary-color-100;
          font-family: $font-museo-sans-500;
          font-size: 22px;
          line-height: 38px;
          padding-left: 5px;
          margin-top: 10px;

          +p {
            padding-left: 30px;
            font-family: $font-museo-sans-300;
            color: $primary-color-100;

            b {
              font-family: $font-museo-sans-500;
            }
          }
        }

        .points {
          >div {
            padding-left: 30px;
            font-family: $font-museo-sans-300;
            color: $primary-color-100;

            b {
              font-family: $font-museo-sans-500;
              font-weight: normal;
            }
          }
        }

        >p {
          position: relative;
          z-index: 2;
          font-size: 16px;
          line-height: 24px;
        }

        ul,
        ol {
          margin: 0;
          padding-left: 30px;

          @include MQ(S) {
            padding-left: 0;
          }

          li {
            color: $primary-color-100;

            @include MQ(S) {
              font-size: 14px;
            }

            a {
              @include MQ(S) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .gradient {
      padding-top: 55px;
      @include linear-gradient(0deg, $primary-color-100, #202634);

      .row {
        .columns {
          h2 {
            color: $white;
            flex-direction: row;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 34px;
            line-height: 38px;

            @include MQ(S) {
              font-size: 28px;
            }

            &:before {
              display: none;
            }
          }

          ol,
          ul {
            margin-top: 37px;
            margin-bottom: 50px;

            li {
              list-style: none;

              &:before {
                content: '_';
                color: $primary-color-300;
                margin-right: 10px;
                margin-bottom: 2px;
                display: inline-block;
                vertical-align: text-bottom;
              }

              a {
                text-decoration: underline;
                font-size: 18px;
                line-height: 28px;
              }
            }
          }

          p {
            font-family: $font-museo-sans-300;

            strong {
              font-weight: normal;
              font-family: $font-museo-sans-500;
            }
          }
        }
      }
    }

    .white {
      background-color: $white;
      padding-bottom: 64px;

      .row {
        .columns {
          >p {
            padding-left: 30px;
            color: $primary-color-100;
            margin-bottom: 22px;
            font-family: $font-museo-sans-300;

            @include MQ(M) {
              font-size: 14px;
              padding-left: 0;
            }

            strong {
              font-weight: normal;
              font-family: $font-museo-sans-500;
            }
          }

          ul {
            margin-bottom: 25px;

            li {
              list-style: none;
              font-family: $font-museo-sans-300;

              &:before {
                content: '·';
                font-family: $font-museo-sans-500;
                margin-right: 5px;
              }

              p {
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
                display: inline-block;

                strong {
                  font-weight: normal;
                  font-family: $font-museo-sans-500;
                }
              }

              ul {
                padding-left: 30px;

                li {
                  font-family: $font-museo-sans-300;

                  &:last-child {
                    margin-bottom: 20px;
                  }
                }
              }
            }
          }

          ol {
            margin-bottom: 20px;
            counter-reset: item;

            li {
              font-family: $font-museo-sans-300;
              counter-increment: item;
              list-style-type: none;

              &:before {
                font-family: $font-museo-sans-700;
                content: counter(item) '. ';
              }
            }

            +p {
              padding-left: 30px;
              font-family: $font-museo-sans-500;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.shows {
    .top-banner {
      .content {
        .breadcrumbs+h1 {
          margin-top: 0;
          font-size: 38px;
          line-height: 38px;
          margin-bottom: 100px;
          font-family: $font-museo-sans-700;
        }

        nav~p {
          margin-bottom: 270px;

          @include MQ(S) {
            margin-bottom: 170px;
          }
        }
      }
    }

    .gradient {
      .item {
        display: flex;

        @include MQ(S) {
          flex-wrap: wrap;
          margin-bottom: 30px;
        }

        .image {
          min-width: 400px;
          max-width: 635px;
          height: 370px;
          border-radius: 5px;
          box-shadow: 0px 10px 15px 1.12px rgba(0, 0, 0, 0.3);
          margin-right: 70px;
          margin-top: -125px;
          position: relative;
          z-index: 3;

          @include MQ(S) {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 50px;
            max-width: 100%;
          }
        }

        &.reverse {
          @include MQ(S) {
            flex-direction: column-reverse;
          }

          .image {
            max-width: 708px;
            margin-right: 0;
            margin-left: 70px;

            @include MQ(S) {
              margin-top: 0;
              margin-left: 0;
              margin-right: 0;
              margin-bottom: 50px;
              max-width: 100%;
            }
          }
        }

        h1 {
          font-size: 34px;
          line-height: 38px;
          margin-bottom: 35px;
        }

        p {
          font-size: 18px;
          line-height: 28px;
          margin-bottom: 35px;

          &:last-child {
            margin-bottom: 165px;

            @include MQ(S) {
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }

  &.about {
    display: grid;

    .top-banner {
      min-height: 460px;

      @include MQ(XS) {
        min-height: inherit;
        height: 450px;
      }

      .content {
        .image-wrapper {
          background-image: none;
          background-color: #151923;

          .image-background {
            background-image: url('../img/img_0_AboutUs.jpg');
            max-width: 100%;
            background-position: 0 0;

            @media only screen and (min-width: 1800px) {
              background-position: 0 -70px;
            }

            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
              background-position: 80% 0;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
              background-position: 70% 0;
            }

            @include MQ(XM) {
              background-position: 80% top;
            }

          }
        }

        .row {
          opacity: 1;
        }

        h1 {
          @include MQ(XS) {
            margin-bottom: 0;
            margin-top: 10px;
          }
        }

        p.description {
          font-size: 18px;
          margin-bottom: 0;

          @include MQ(XS) {
            font-size: 16px;
          }
        }
      }

    }

    .content {
      .gradient {
        max-height: 450px;
        padding-bottom: 95px;

        @include MQ(XS) {
          padding-bottom: 0;
        }

        @media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 480px) {
          padding-bottom: 95px;
        }

        .item {
          .image {
            height: 345px;
            background-color: transparent;

            @include MQ(XM) {
              min-width: inherit;
              height: 190px;
              margin-bottom: 20px;
            }

            @include MQ(M) {
              min-width: inherit;
              height: 190px;
              margin-bottom: 20px;
            }

            @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
              height: 280px;
            }

            @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
              height: 274px;
            }
          }

          h1 {
            @include MQ(M) {
              font-size: 26px;
              line-height: 36px;
              margin: 0 0 10px;
            }
          }

          p {
            @include MQ(M) {
              font-size: 14px;
              line-height: 22px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }

  }

}
